<div class="container-fluid measurement-data">
  <div class="filter-row row m-3">
    <div class="col-md-6 col-lg-8 col-12">
      <viega-group-heading>
        {{'PROTOCOLS.FILTER_SELECTION'| translate}}
      </viega-group-heading>
      <div class="row mt-1">
        <div class="date-filter col-auto">
          <label class="d-block picker-width">
            {{'DATETIMERANGEPICKER.FROM' | translate}}
            <ejs-datetimepicker #fromDatePicker [(value)]="startDateTime" [max]="maxStartTime" [strictMode]="false" (change)="onDatechange()" [locale]="'_META.LOCALE' | translate"></ejs-datetimepicker>
          </label>
          <label class="d-block picker-width mt-2">
            {{'DATETIMERANGEPICKER.TO' | translate}}
            <ejs-datetimepicker #toDatePicker [(value)]="endDateTime" [min]="minEndTime" [strictMode]="true" (change)="onDatechange()" [locale]="'_META.LOCALE' | translate"></ejs-datetimepicker>
          </label>
        </div>

        <div class="date-filter mb-3 mt-2 col-md-12 col-lg-6">
          <viega-button (click)="onFilterReset()" class="clear-left-margin" [isDisabled]="false">
            {{'PROTOCOLS.RESET_FILTER'| translate}}
          </viega-button>
        </div>
      </div>
    </div>

    <div class="filter-templates mb-3 col-md-6 col-lg-4">
      <app-filter-template #templateManager [section]='section' [(activeFilter)]='activeFilter' (activeFilterChange)="onTemplateSelected()">
      </app-filter-template>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-12">
      <ejs-grid #dataGrid id="pagerAtTop" [dataSource]="measurementDataSource" [query]="measurementDataQuery"
        [allowPaging]="true" allowSorting="true" [sortSettings]="gridSortSettings" [allowFiltering]="allowFiltering"
        allowTextWrap="true" [locale]="'_META.LOCALE' | translate" [pageSettings]="pageSettings" [filterSettings]="filterSettings">
        <ng-template #pagerTemplate let-data>
          <div class="e-mfirst e-icons e-icon-first e-firstpage" [class.e-firstpagedisabled]="!goToFirstPageEnabled()" [class.e-disabled]="!goToFirstPageEnabled()" [title]="'PAGER.FIRST_PAGE_TOOLTIP' | translate" [attr.aria-label]="'PAGER.FIRST_PAGE_TOOLTIP' | translate" tabindex="-1" index="1" aria-owns="pagerAtTop_content_table" (click)="gotToFirstPage()"></div>
          <div class="e-mnext e-icons e-icon-next e-nextpage" [class.e-nextpagedisabled]="!goToNextPageEnabled(data)" [class.e-disabled]="!goToNextPageEnabled(data)" [title]="'PAGER.NEXT_PAGE_TOOLTIP' | translate" [attr.aria-label]="'PAGER.NEXT_PAGE_TOOLTIP' | translate" tabindex="-1" index="2" aria-owns="pagerAtTop_content_table" (click)="gotToNextPage(data)"></div>
          <div class="e-pagercontainer" role="navigation">
            <div class="e-first e-icons e-icon-first e-firstpage" [class.e-firstpagedisabled]="!goToFirstPageEnabled()" [class.e-disabled]="!goToFirstPageEnabled()" [title]="'PAGER.FIRST_PAGE_TOOLTIP' | translate" [attr.aria-label]="'PAGER.FIRST_PAGE_TOOLTIP' | translate" tabindex="-1" index="1" aria-owns="pagerAtTop_content_table" (click)="gotToFirstPage()"></div>
            <div class="e-next e-icons e-icon-next e-nextpage" [class.e-nextpagedisabled]="!goToNextPageEnabled(data)" [class.e-disabled]="!goToNextPageEnabled(data)" [title]="'PAGER.NEXT_PAGE_TOOLTIP' | translate" [attr.aria-label]="'PAGER.NEXT_PAGE_TOOLTIP' | translate" tabindex="-1" index="2" aria-owns="pagerAtTop_content_table" (click)="gotToNextPage(data)"></div>
          </div>
        </ng-template>
        <e-columns>
          <e-column *ngFor="let item of gridColumns" [field]="item.field" [valueAccessor]="item.valueAccessor || null" [headerText]="item.headerText | translate"
            [textAlign]="item.textAlign || 'Left'" [format]="item.format || null" [hideAtMedia]="item.hideAtMedia || null" [allowSorting]="item.allowSorting" [allowFiltering]="item.allowFiltering">
            <ng-template #template let-data *ngIf="item.field === 'deviceTypeName'">
              {{getDeviceTypeI18nKey(data.deviceTypeName) | translate}}
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-lg-3 col-md-4 col-sm-8 col-12">
      <viega-button class="clear-left-margin"
      [isDisabled]="!(dataGrid && dataGrid.currentViewData.length)"
      [matMenuTriggerFor]="exportMenu">
      {{'PROTOCOLS.EXPORT_DATA'| translate | uppercase}}
    </viega-button>
    <mat-menu #exportMenu="matMenu">
      <button class="menu-item" *ngFor="let format of ['CSV', 'PDF']" mat-menu-item (click)="onClickExport(format)">
        {{format}}
      </button>
    </mat-menu>
    </div>
  </div>
</div>
