@import 'src/app/shared/lib/viega-common/theme/for-import/index';

.interval-input {
    width: 2em;
}

.test-result-item {
    color: $viega-c11;
    font-family: $viega-font-bold;

    &.test-result-item-error {
        color: $viega-c15;
    }
}
