@import "src/app/shared/lib/viega-common/theme/for-import/shared";
@import "src/app/shared/components/modal-dialog/modal-dialog/modal-dialog.component.scss";

.viega-button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .viega-button-wr {
        margin-left: 20px;
    }
}

/* remove PLZ input spinners in: Chrome, Safari, Edge, Opera */
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove PLZ input spinners in: Firefox */
.no-spinners {
    -moz-appearance:textfield;
}

.input-container {
    margin-bottom: 15px;
}

input.input-item {
    @include viega-guideline-font();
    @include viega-guideline-boxes();
    font-size: 12px;
    width: 100%;
}

.modal-input-form-label {
    font-weight: normal;
    margin-bottom: 5px;
}

.summary-options {
    margin-bottom: 100px;
    margin-top: 30px;

    viega-button {
        float: right;

    }
}

// TODO (anane): this should work out of the box in boostrap but seems to be overriden
// it reduces the gutter in form rows
.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px
}

.form-row>.col,
.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px
}


// image view
.image-view {
    margin-top: 30px;
    line-height: 35px;

    .list-item {
        @include viega-guideline-font;

        span {
            float: right;
        }
    }
    #image-project-picture {
        max-height: 200px;
        height: auto;
        width: 100%;
        // TODO (Reger): Refactor IE compatibility for object-fit project wide
        object-fit: contain;
    }
}

.project-picture {
    max-width: 100%;
    max-height: 100%;
}
