
<div class="container-fluid">
  <div *ngIf="stateLoading" class="row m-3"><em>{{'GLOBAL.LOADING_DATA' | translate}}</em></div>
  <div *ngIf="!stateLoading " class="row m-3">
    <!-- Do not render the grid before the data source is available. This mitigates a bug in the
         grid that the grid might not display an updated data source. -->
    <div class="col device-grid-container" *ngIf="gridDataSource">
      <ejs-treegrid #treegrid class="device-tree" (cellSelected)="onDeviceAction($event)"
        (collapsed)="onNodeCollapsed($event)" (expanded)="onNodeExpanded($event)" [treeColumnIndex]="0" childMapping="devices"
        expandStateMapping="isInExpandState" [allowPaging]="false" [allowSorting]="true" [allowFiltering]="true"
        [filterSettings]="filterSettings" [textWrapSettings]="wrapSettings" [dataSource]="gridDataSource"
        [locale]="'_META.LOCALE' | translate">
        <e-columns>
          <e-column field="status" [headerText]="'GLOBAL.STATUS' | translate">
            <ng-template #template let-data>
              <span
                [title]="getStatus(data).text | translate"
                class="status-label"
                [ngClass]="getStatus(data).class">
              </span>
              <div class="filterText">{{getStatus(data).text}}</div>
              <app-device-icon [size]="40" [deviceType]="data.deviceTypeName"></app-device-icon>
            </ng-template>
          </e-column>
          <e-column field="name" [headerText]="'DEVICES.DEVICE_POINT_NAME' | translate" [hideAtMedia]="getHideAtMedia('sm')">
            <ng-template #template let-data>
              {{data.translate ? (data.name | translate) : data.name}}
            </ng-template>
          </e-column>
          <e-column field="serialNumber" [headerText]="'DEVICES.SERIAL_NUMBER' | translate" [hideAtMedia]="getHideAtMedia('lg')">
          </e-column>
          <e-column field="softwareVersion" [headerText]="'DEVICES.SOFTWARE_VERSION' | translate"
            [hideAtMedia]="getHideAtMedia('lg')">
          </e-column>
          <e-column field="deviceTypeName" [headerText]="'DEVICES.DEVICE_TYPE' | translate" [hideAtMedia]="getHideAtMedia('lg')">
            <ng-template #template let-data>
              {{getDeviceTypeNameI18nKey(data.deviceTypeName) | translate}}
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-treegrid>
    </div>
  </div>
</div>
