<viega-group-heading>{{ 'PROJECT.BASIC_INFO'| translate}}</viega-group-heading>
<div class="row mt-2 root">
  <div class="col-10 row device-base-data">
    <div *ngFor="let baseDataItem of baseData" class="col-lg-6 base-data-item">
      <div class="row">
        <span class="base-data-label col-6">{{ baseDataItem.title| translate }}:</span>
        <span class="base-data-value col-6">
          {{ device[baseDataItem.key] || baseDataItem.default || '-' }}
        </span>
      </div>
    </div>
  </div>
  <div class="col-2 device-image">
    <div class="row">
      <app-device-icon [deviceType]="device.deviceTypeName" [size]="100"></app-device-icon>
    </div>
    <div class="row" style="padding-top: 4px;">

      </div>
  </div>
</div>
