<app-modal-dialog
  [title]="'DEVICES.CONTROLLER_POINT_SELECTION_TITLE' | translate"
  [buttons]="modalButtons"
  (buttonEvent)="onButtonEvent($event)"
>
  <div *ngIf="stateLoading" class="row m-3"><em>{{'DEVICES.LOADING_DATA' | translate}}</em></div>
  <div *ngIf="stateNoData" class="row m-3">{{'DEVICES.NO_UNLINKED_CONTROLLER_POINT' | translate}}</div>
  <app-project-tree
    *ngIf="!stateNoData"
    id="treeview"
    (nodeSelected)="onNodeSelect($event)"
    [maxHeight]="30"
    [deviceList]="controllerPoints">
  </app-project-tree>
</app-modal-dialog>
