@import "src/app/shared/lib/viega-common/theme/for-import/shared";

$viega-color-font: $viega-c2;

@mixin viega-guideline-font {
    font-size: 14px;
    font-family: $viega-font-regular;
    color: $viega-color-font;
}

.actions {
    .action {
        margin: 0;
        padding-right: 10px;
        cursor: pointer;
        @include viega-guideline-font();

        span {
            padding-left: 10px;
        }

        &:hover {
            color: $viega-font-bold;
        }
    }
}

#treeelement {
    display: block;
    margin: auto;
    border-radius: $viega-border-radius;
}

// provide room at the bottom for the buttons on small screens
.tree-wr {
    max-height: calc(100vh - 150px - 20px);

    @media (max-width: map-get($viega-grid-breakpoints, 'sm') - 1) {
        max-height: calc(100vh - 150px - 4 * 40px);
    }
}

// xs
@media (max-width: map-get($viega-grid-breakpoints, 'sm') - 1px) {
    #treeelement {
        overflow: auto;
    }
}

// sm
@media (min-width: map-get($viega-grid-breakpoints, 'sm')) {
    #treeelement {
        overflow: initial;
    }

    .fixed {
        position: fixed;
        right: -9px;
        top: 72px;
    }
}

// md
@media (min-width: map-get($viega-grid-breakpoints, 'md')) {
    .fixed {
        top: 103px;
    }
}

// lg, xl
@media (min-width: map-get($viega-grid-breakpoints, 'lg')) {
    .fixed {
       right: -6px;
    }
}
