<app-modal-dialog
  [title]="'FUNCTIONS.FUNCTION_NAMES.THERMAL_RINSE' | translate"
  [buttons]="dialogStages[currentStage].buttons"
  (buttonEvent)="onButtonEvent($event)"
>
  <div class="confirm">
    <div class="dialog-icon" [class.icon-warnung-01]="dialogStages[currentStage].enableWarningIcon"></div>
    <viega-loading-spinner class="spinner" *ngIf="dialogStages[currentStage].spinnerShown"> </viega-loading-spinner>
    <p class="message">
      {{ dialogStages[currentStage].message | translate }}
    </p>
  </div>
  <app-project-tree *ngIf="dialogStages[currentStage].deviceListShown" [deviceList]="deviceList" [maxHeight]="30" id="treeelement">
  </app-project-tree>
</app-modal-dialog>
