<viega-group-heading>{{ 'DEVICES.BASIC_INFO_HEADER' | translate }}</viega-group-heading>
<div class="row mt-2 root">

  <div class="col-10 row device-base-data">
    <div *ngFor="let baseDataItem of baseData" class="col-lg-6 base-data-item">
      <div *ngIf="baseDataItem.value" class="row">
        <span class="base-data-label col-6">
          {{ baseDataItem.title | translate }}:
        </span>
        <span class="base-data-value col-6">
          {{ baseDataItem.value }}
          <viega-icon-button *ngIf="baseDataItem.key === 'ipAddress' && authorities.has(AuthorityCodes.SETIPADDRESS)"
            icon="edit-01" (click)="onIpEdit()">
          </viega-icon-button>
        </span>
      </div>
    </div>
  </div>

  <div class="col-2 device-image">
    <div class="row">
      <app-device-icon [deviceType]="device.deviceTypeName" [size]="100"></app-device-icon>
      <viega-button *ngIf="isResetableDeviceType()" [isDisabled]="!canResetDevice()" (click)="onReset()">
        {{ device.deviceTypeName === 'Controller' ? ('DEVICES.RESTART_CONTROLLER' | translate) : ('DEVICES.FACTORY_RESET' | translate) }}
      </viega-button>
    </div>
    <div class="row mt-2">
      <viega-button [isDisabled]="!canLocateDevice()" (click)="onLocate()" *ngIf="isLocateableDeviceType()">
        {{ 'DEVICES.LOCATE_DEVICE' | translate }}
      </viega-button>
    </div>
  </div>
</div>
