<app-modal-dialog
  class="container"
  [title]="'DEVICES.SELECT_DEVICE_POINT' | translate"
  [buttons]="modalButtons"
  (buttonEvent)="onButtonEvent($event)"
>
  <div *ngIf="dialogState === 'noData'" class="row m-3">
    {{'DEVICES.NO_UNLINKED_DEVICE_POINT' | translate}}
  </div>
  <app-project-tree
    *ngIf="dialogState === 'loaded' || dialogState === 'loadingStructure'"
    id="treeview"
    (nodeSelected)="onNodeSelect($event)"
    [maxHeight]="30"
    [deviceList]="treeData">
  </app-project-tree>
  <div class="m-3" *ngIf="dialogState === 'loaded' && isWallOutlet()">
    <viega-checkbox id="location-confirmation" class="confirm-checkbox" (valueChange)="onCheckboxChange($event)">
    </viega-checkbox>
    <label for="location-confirmation">
      {{'DEVICES.LOCATION_CONFIRMATION_QUESTION' | translate:{ deviceTypeName: getDeviceTypeNameI18nKey(this.device.device.deviceTypeName) | translate, deviceName: this.device.device.name } }}
    </label>
  </div>
  <div class="row justify-content-center m-3" *ngIf="dialogState === 'reloadingConfig'">
    <viega-loading-spinner class="spinner"></viega-loading-spinner>
    <div class="mt-2">
      {{'DEVICES.RELOADING_CONFIGURATION' | translate}}
    </div>
  </div>
</app-modal-dialog>
