<form class="form" (ngSubmit)="onLoginFormSubmit()" #loginForm="ngForm">
  <div class="form-group row">
    <label class="col-4">{{ 'LOGIN.USERNAME' | translate }}</label>
    <div class="col-7 px-0">
      <input [className]="error" type="text" [(ngModel)]="model.username" name="username" id="input-login-username" required />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4">{{ 'LOGIN.PASSWORD' | translate }}</label>
    <div class="col-7 px-0">
      <input [className]="error" type="password" [(ngModel)]="model.password" name="password" id="input-login-password" required />
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-4 col-7 px-0">
      <viega-button routerLink="home" [isDisabled]="!loginForm.form.valid" [enableIcon]="false" id="button-login">{{ 'LOGIN.BUTTON_TEXT' | translate | uppercase}}</viega-button>
    </div>
  </div>
</form>
