@import "src/app/shared/lib/viega-common/theme/for-import/shared";
@import "src/app/shared/lib/viega-common/theme/global/_icons.scss";

$badge-size: 20px;

.profile {
    color: white;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    font-size: 14px;

    .profile-icon {
        background: $viega-c10;
        color: $viega-c1;
        cursor: pointer;
        font-family: $viega-font-icons;
        font-size: $badge-size;
        width: $badge-size;
        height: $badge-size;
        border-radius: 100%;
        margin: 1px 30px 0px 0px;
        padding-left: 1px; // this was needed to center the head inside the circle
        position: relative;

        &:after {
            content: '\e613';
            font-family: $viega-font-icons;
            font-weight: normal;
            font-size: 14px;
            font-style: normal;
            color: #fff;
            text-decoration: none;
            outline: none;
            position: absolute;
            top: 3px;
            left: 22px;
        }
    }
}
