<div class="boundary-container">
  <div class="row m-3">
    <div class="col-12">
      <viega-button id='btn-dashboard-add' (click)="onDashboardAdd()">{{'DASHBOARD.CREATE_DASHBOARD' | translate}}</viega-button>
    </div>
  </div>

  <div class="row m-3">
    <div *ngFor="let board of dashboards.dashboards; index as i;" class="col-lg-4 col-sm-6 mb-3">
      <a routerLink="/dashboard/view/{{board.name}}" class="e-card vignette-container">
        <div class="e-card-header">
          <div class="e-card-header-title row no-gutters">
            <div  class="dashboard-title col-11">
              {{board.name}}
            </div>
            <div class="col-1 icon-container">
              <!-- Prevent routing by parent component when clicking on the delete-button -->
                <span class="icon" [ngClass]="'icon-cross-01'" (click)="$event.preventDefault(); $event.stopPropagation(); onDashboardDelete(i)"></span>
            </div>
          </div>
        </div>
        <div  class="e-card-content">
        </div>
        <div>
          <img [src]="board.imageUrl" alt="placeholder">
        </div>
      </a>
    </div>
  </div>
