<div class="row m-3">
  <!-- Button section -->
  <div class="col-lg-11">
    <div class="row">
      <div class="col-sm-6">

      </div>
      <div *ngIf="authorities.has(AuthorityCodes.CREATEDEVICEPOINTGROUPFUNCTION)" class="col-sm-6 new-btn-box">
        <viega-button [enableIcon]="false" (click)="onOpenNewFuncDialogClick()" id="btn-function-add"
          >{{'FUNCTIONS.NEW_BUTTON_TEXT' | translate}}</viega-button
        >
      </div>
    </div>
  </div>
  <div *ngIf="stateLoading" class="row m-3"><em>{{'GLOBAL.LOADING_DATA' | translate}}</em></div>
  <!-- Grid section -->
  <div *ngIf="!stateLoading" class="col-lg-12">
    <ejs-grid
      id="table-function-grid"
      #functionGrid
      [dataSource]="gridData"
      [allowPaging]="true"
      [allowSorting]="true"
      [pageSettings]="pageSettings"
      [allowResizing]="true"
      allowTextWrap="true"
      [locale]="'_META.LOCALE' | translate"
      (dataBound)="onDataBound()"
      [selectionSettings]="funcGridSelectionOptions"
    >
      <e-columns>
        <e-column
          class="func-grid-tools"
          [headerText]="activeHeaderText | translate"
          width="120"
          textAlign="Center"
        >
          <ng-template #template let-data>
            <div *ngIf="canToggleCyclicFunctionExecution(data)">
              <div
                class="statusbox"
                [class.inactive]="!!data.disabledTimestamp"
                (click)="$event.stopPropagation()"
              ></div>
              <viega-toggle-button
                (valueChange)="onToggleActivationBtnClick($event, data.name)"
                [(isChecked)]="!data.disabledTimestamp"
              ></viega-toggle-button>
            </div>
          </ng-template>
        </e-column>
        <e-column *ngFor="let entry of funcTableColumns"
          [headerText]="entry.headerText | translate"
          [textAlign]="entry.textAlign || 'Left'"
          [format]="entry.format || null"
          [hideAtMedia]="entry.hideAtMedia || null"
          [maxWidth]="300"
          [minWidth]="50"
          [width]="entry.width"
          [field]="entry.field"
        >
          <ng-template #template let-data *ngIf="entry.field === 'typeName'">
            {{data[entry.field] | translate}}
          </ng-template>
        </e-column>
        <e-column
          class="func-grid-tools"
          headerText=""
          textAlign="Right"
          width="170"
        >
          <ng-template #headerTemplate>
            <span class="e-headertext" id="action-header">
              {{'FUNCTIONS.ACTION' | translate}}

              <viega-info-button [header]="possibleActionsText | translate" class="table-header-info-button">
                <div class="row">
                  <div class="col-2">
                    <viega-icon-button icon="arrow_next-01"></viega-icon-button>
                  </div>
                  <div class="col-10 align-self-center">
                    {{'FUNCTIONS.START_FUNCION_MANUALLY' | translate}}
                  </div>
                </div>

                <div class="row">
                  <div class="col-2">
                    <viega-icon-button icon="edit-01"></viega-icon-button>
                  </div>
                  <div class="col-10 align-self-center">
                    {{'FUNCTIONS.EDIT_FUNCTION' | translate}}
                  </div>
                </div>

                <div class="row">
                  <div class="col-2">
                    <viega-icon-button icon="cross-01"></viega-icon-button>
                  </div>
                  <div class="col-10 align-self-center">
                    {{'FUNCTIONS.DELETE_FUNCTION' | translate}}
                  </div>
                </div>

              </viega-info-button>
            </span>
          </ng-template>
          <ng-template #template let-data>
            <viega-icon-button
              *ngIf="!isCirculationFunction(data)"
              icon="arrow_next-01"
              (click)="onFunctionPlayClick($event, data)"
            ></viega-icon-button>
            <viega-icon-button
              *ngIf="authorities.has(AuthorityCodes.UPDATEDEVICEPOINTGROUPFUNCTION)"
              icon="edit-01"
              (click)="onFunctionEditClick($event, data)"
            ></viega-icon-button>
            <viega-icon-button
              *ngIf="authorities.has(AuthorityCodes.DELETEDEVICEPOINTGROUPFUNCTION)"
              icon="cross-01"
              (click)="onFunctionRemoveClick($event, data)"
            ></viega-icon-button>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
