<app-modal-dialog
  [title]="'DEVICES.DEVICE_FUNCTIONS_OVERVIEW' |translate"
  [buttons]="buttons"
  (buttonEvent)="onModalCancel()"
>
  <div *ngIf="stateLoading" class="row m-3"><em>{{ 'GLOBAL.LOADING_DATA' | translate }}</em></div>
  <div *ngIf="!stateLoading">
    <div *ngIf="deviceFunctions.length === 0" class="row m-3"><em>{{ 'DEVICES.NO_FUNCTIONS_ASSIGNED' | translate }}</em></div>
    <ul *ngIf="deviceFunctions.length !== 0" >
      <li *ngFor="let func of deviceFunctions">
        <span class="badge">{{ func.name }}</span>
      </li>
    </ul>
  </div>
</app-modal-dialog>
