<app-modal-dialog
  [title]="'PROTOCOLS.EXPORT_SETTINGS' | translate"
  [buttons]="modalButtons"
  (buttonEvent)="onButtonEvent($event)"
>
  <div *ngIf="stateLoading" class="row m-3"><em>{{'GLOBAL.LOADING_DATA' | translate}}</em></div>
  <form *ngIf="!stateLoading">

    <!-- Name: -->
    <div class="row m-3">
      <label for="input-name" class="col-sm-4 modal-input-form-label align-self-center">
        Name:
      </label>
      <input
        type="text"
        class="col-sm-8 modal-input-box mb-2"
        id="input-name"
        name="name"
        required="required"
        [(ngModel)]="name"
        (ngModelChange)="onNameChange($event)"
      />
    </div>
    <!-- Name: -->
    <div class="row m-3">
      <label for="input-filename" class="col-sm-4 modal-input-form-label align-self-center">
        {{'PROTOCOLS.FILE_NAME_WITHOUT_EXT' | translate}}:
      </label>
      <input
        type="text"
        class="col-sm-8 modal-input-box mb-2"
        id="input-filename"
        name="filename"
        required="required"
        [(ngModel)]="filename"
      />
    </div>
    <!-- Duration: Zeitraum -->
    <div class="row m-3">
      <label for="input-zeitraum" class="col-sm-4 modal-input-form-label align-self-center">
        {{'PROTOCOLS.PERIOD' | translate}}:
      </label>
      <viega-dropdown
        [dataSource]="triggerTypes"
        class="col-sm-8 modal-dropdown"
        id="input-zeitraum"
        name="zeitraum"
        [fields]="fields"
        [(value)]="selectedTriggerType"
        [locale]="'_META.LOCALE' | translate"
      ></viega-dropdown>
    </div>

    <fieldset *ngIf="selectedTriggerType === 'EVENT'">
      <!-- Ereignis -->
      <div class="row m-3">
        <label for="input-uhrzeit" class="col-sm-4 modal-input-form-label align-self-center">
          {{'PROTOCOLS.ON_EVENT' | translate}}:
        </label>
        <ejs-multiselect
          class="col-sm-8 modal-input-box"
          id="input-repeat"
          name="repeat"
          mode="Box"
          required="required"
          [dataSource]="eventTypes"
          [fields]="fields"
          [(value)]='triggerMessageTypes'></ejs-multiselect>
      </div>
    </fieldset>

    <fieldset *ngIf="selectedTriggerType && selectedTriggerType.match('CRON')">
      <div *ngIf="selectedTriggerType === 'CRON:yearly'">
        <!-- Ereignis: Tag des Monats -->
        <div class="row m-3">
          <label for="input-weekday" class="col-sm-4 modal-input-form-label align-self-center">
            {{'GLOBAL.DATE' | translate}}
          </label>
          <viega-dropdown
            [dataSource]="monthdayTypes"
            [fields]="fields"
            class="col-sm-3 modal-dropdown"
            id="input-monthday"
            name="monthday"
            [(value)]="monthday"
            [locale]="'_META.LOCALE' | translate"
          ></viega-dropdown>
          <viega-dropdown
            [dataSource]="monthTypes"
            [fields]="fields"
            class="col-sm-5 modal-dropdown"
            id="input-month"
            name="month"
            [(value)]="month"
            [locale]="'_META.LOCALE' | translate"
          ></viega-dropdown>
        </div>
      </div>
      <div *ngIf="selectedTriggerType === 'CRON:monthly'">
        <!-- Ereignis: Monat -->
        <div class="row m-3">
          <label for="input-weekday" class="col-sm-4 modal-input-form-label align-self-center">
            {{'GLOBAL.DATE' | translate}}
          </label>
          <viega-dropdown
            [dataSource]="monthdayTypes"
            [fields]="fields"
            class="col-sm-3 modal-dropdown"
            id="input-monthday"
            name="monthday"
            [(value)]="monthday"
            [locale]="'_META.LOCALE' | translate"
          ></viega-dropdown>
        </div>
      </div>
      <div *ngIf="selectedTriggerType === 'CRON:weekly'">
        <!-- Ereignis: Wochentag -->
        <div class="row m-3">
          <label for="input-weekday" class="col-sm-4 modal-input-form-label align-self-center">
            {{'PROTOCOLS.WEEK_DAY' | translate}}
          </label>
          <viega-dropdown
            [dataSource]="weekdayTypes"
            class="col-sm-8 modal-dropdown"
            id="input-weekday"
            [fields]="fields"
            name="weekday"
            [(value)]="weekday"
            [locale]="'_META.LOCALE' | translate"
          ></viega-dropdown>
        </div>
      </div>
      <div *ngIf="selectedTriggerType === 'CRON:yearly' || selectedTriggerType === 'CRON:monthly' || selectedTriggerType === 'CRON:weekly' || selectedTriggerType === 'CRON:daily'">
        <!-- Ereignis: Uhrzeit -->
        <div class="row m-3">
          <label for="input-time" class="col-sm-4 modal-input-form-label align-self-center">
            {{'PROTOCOLS.TIME' | translate}}:
          </label>
          <ejs-timepicker
            class="col-sm-8 modal-input-box"
            id="input-time"
            name="time"
            required="required"
            [(value)]="time"
          ></ejs-timepicker>
        </div>
      </div>
    </fieldset>

    <fieldset *ngIf="selectedTriggerType === 'DATA'">
        <!-- Ereignis -->
        <div class="row m-3">
          <label for="input-uhrzeit" class="col-sm-4 modal-input-form-label align-self-center">
            {{'PROTOCOLS.NUMBER_OF_DATA_ENTRIES' | translate}}:
          </label>
          <input
            id="input-datacount"
            name="datacount"
            required="required"
            type="number"
            min="1000"
            [(ngModel)]="triggerDataIntervalCount"/>
        </div>
      </fieldset>

    <!-- Aktion -->
    <div class="row m-3">
      <label for="input-action" class="col-sm-4 modal-input-form-label align-self-center">
        {{'GLOBAL.ACTION' | translate}}:
      </label>
      <viega-dropdown
        [dataSource]="actionTypes"
        [fields]="fields"
        class="col-sm-8 modal-dropdown"
        id="input-action"
        name="action"
        [(value)]="selectedActionType"
        [locale]="'_META.LOCALE' | translate"
      ></viega-dropdown>
    </div>

    <fieldset *ngIf="selectedActionType === 'EMAIL'">
      <!-- Ereignis -->
      <div class="row m-3">
        <label for="input-email" class="col-sm-4 modal-input-form-label align-self-center">
          {{'USERS.EMAIL' | translate}}:
        </label>
        <input
          type="email"
          class="col-sm-8 modal-input-box mb-2"
          id="input-email"
          required="required"
          name="email"
          [(ngModel)]="email"
        />
      </div>
    </fieldset>

    <fieldset *ngIf="selectedActionType === 'SFTP'">
      <!-- FTP: Host -->
      <div class="row m-3">
        <label for="input-host" class="col-sm-4 modal-input-form-label align-self-center">
          Host:
        </label>
        <input
          type="text"
          class="col-sm-8 modal-input-box mb-2"
          id="input-host"
          required="required"
          (blur)="onFocusLost($event)"
          name="host"
          [(ngModel)]="host"
        />
      </div>
      <!-- FTP: Port -->
      <div class="row m-3">
        <label for="input-port" class="col-sm-4 modal-input-form-label align-self-center">
          Port:
        </label>
        <input
          type="number"
          class="col-sm-8 modal-input-box mb-2"
          id="input-port"
          required="required"
          name="port"
          (blur)="onFocusLost($event)"
          [(ngModel)]="port"
        />
      </div>
      <!-- FTP: Path -->
      <div class="row m-3">
          <label for="input-ftppath" class="col-sm-4 modal-input-form-label align-self-center">
            {{'PROTOCOLS.SERVER_PATH' | translate}}:
          </label>
          <input
            type="text"
            class="col-sm-8 modal-input-box mb-2"
            id="input-ftppath"
            name="ftppath"
            (blur)="onFocusLost($event)"
            [(ngModel)]="ftppath"
          />
      </div>
      <!-- FTP: Fingerprint -->
      <div class="row m-3">
        <label
          for="input-ftp-fingerprint"
          class="col-sm-4 modal-input-form-label align-self-center">
          {{'PROTOCOLS.FTP_FINGERPRINT' | translate}}:
        </label>
        <input
          type="text"
          class="col-sm-8 modal-input-box"
          id="input-ftp-fingerprint"
          autocomplete="rand209878"
          name="ftpFingerprint"
          [(ngModel)]="ftpFingerprint"
        />
      </div>
      <!-- FTP: User -->
      <div class="row m-3">
        <label
          for="input-user"
          class="col-sm-4 modal-input-form-label align-self-center"
        >
        {{'PROTOCOLS.USER' | translate}}:
        </label>
        <input
          type="text"
          class="col-sm-8 modal-input-box"
          id="input-user"
          autocomplete="rand07432"
          name="user"
          (blur)="onFocusLost($event)"
          [(ngModel)]="user"
        />
      </div>
      <!-- FTP: Password -->
      <div class="row m-3">
        <label
          for="input-password"
          class="col-sm-4 modal-input-form-label align-self-center"
        >
          {{'LOGIN.PASSWORD' | translate}}:
        </label>
        <input
          type="password"
          class="col-sm-8 modal-input-box"
          id="input-password"
          autocomplete="rand2098345"
          name="password"
          (blur)="onFocusLost($event)"
          [(ngModel)]="password"
        />
      </div>

      <div class="row m-3" class="ftp-warning">
        <div class="col-8 offset-4">
          <div *ngFor="let warning of ftpWarnings">
            {{getI18nKey(warning) | translate}}
          </div>
        </div>
      </div>
    </fieldset>

    <!-- Filters -->
    <div class="row m-3 mb-4 mt-4">
      <label for="input-name" class="col-sm-4 modal-input-form-label align-self-center">
        {{'PROTOCOLS.GET_FILTER' | translate}}:
      </label>
      <div class="col-sm-8">
        <div class="mb-2" *ngIf="data.mode === 'edit'">
          <viega-checkbox [isChecked]="true" (valueChange)="onChangeFilterToggle($event)">
            {{'PROTOCOLS.KEEP_OLD_FILTERS' | translate}}
          </viega-checkbox>
        </div>
        <viega-dropdown
          *ngIf="allowFilterSelect"
          [dataSource]="templateList"
          [placeholder]="'PROTOCOLS.CHOOSE_MEASUREMENT_FILTER' | translate"
          class="modal-dropdown"
          id="input-zeitraum"
          name="zeitraum"
          [fields]="filterFields"
          [(value)]="filter"
          [locale]="'_META.LOCALE' | translate"
        ></viega-dropdown>

      </div>
    </div>

    <!-- Format -->
    <div class="row m-3">
      <div class="col-12">
        <div class="row">
          <label for="input-speicherort" class="col-sm-4 modal-input-form-label">
            Format:
          </label>

          <div class="col-sm-8">
            CSV
          </div>
        </div>
      </div>
    </div>

  </form>
</app-modal-dialog>
