@import "src/app/shared/lib/viega-common/theme/for-import/shared";

fieldset {
    padding: 20px 40px;
    margin-top: 20px;
    background-color: #f1f4f4;
    border: 0;
}

.modal-dropdown {
    padding-left: 0px;
    padding-right: 0px;
}

.ftp-warning {
    padding: 5px 10px;
    color: $viega-c15;
    line-height: 16px;
    padding-left: 0;
}

.value {
    line-height: 40px;
}

.form-group.row {
    margin-bottom: 20px;
}

.sub-section {
    margin-left: -15px;
    margin-right: -15px;

    &.empty {
        margin-bottom: 10px;
    }

    .form-group.row {
        margin: 15px 0 0 15px;

        &:last-child {
            margin-bottom: 20px;
        }
    }
}
