<form class="form" (ngSubmit)="onPasswordFormSubmit()" #passwordForm="ngForm">
  <div class="row form-group col-12">
    {{ 'LOGIN.CHANGE_PASSWORD_TITLE' | translate }}
  </div>

  <div class="form-group row">
    <label class="col-4">{{ 'LOGIN.OLD_PASSWORD' | translate }}</label>
    <div class="col-7 px-0">
      <input type="password" [(ngModel)]="model.oldPassword" name="oldPassword" id="old-password" required
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4">{{ 'LOGIN.NEW_PASSWORD' | translate }}</label>
    <div class="col-7 px-0">
      <input
        #password="ngModel"
        type="password"
        [(ngModel)]="model.newPassword"
        [pattern]="passwordPattern"
        [class.field-error]="password.invalid && password.touched && password.errors.pattern"
        name="newPassword"
        id="new-password"
        required
      />
    </div>
  </div>
  <div class="row no-gutters">
    <div *ngIf="password.invalid && password.touched && !!password.errors.pattern" class="col-7 offset-4" id="label-weak-password-container">
      <div class="error" id="label-weak-password-hint">
        <label for="new-password">
          {{'USERS.PASSWORD_SUMMARY' | translate}}
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4">{{ 'LOGIN.CONFIRM_PASSWORD' | translate }}</label>
    <div class="col-7 px-0">
      <input
        #passwordConfirmation="ngModel"
        type="password"
        [(ngModel)]="model.newPasswordConfirmation"
        [pattern]="password.value"
        [class.field-error]="passwordConfirmation.invalid && passwordConfirmation.touched && passwordConfirmation.errors.pattern"
        name="newPasswordConfirmation"
        id="new-password-confirm"
        required
      />
    </div>
  </div>
  <div class="row no-gutters">
    <div *ngIf="passwordConfirmation.invalid && passwordConfirmation.touched && !!passwordConfirmation.errors.pattern" class="col-7 offset-4" id="label-non-matching-password-container">
      <div class="error" id="label-non-matching-password-hint">
        <label for="new-password-confirm">
          {{'USERS.PROFILE_PASSWORD_MISMATCH' | translate}}
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-4 col-7 px-0 mt-4">
      <viega-button routerLink="home" [isDisabled]="!passwordForm.form.valid" [enableIcon]="false" id="button-set-password">
        {{ 'LOGIN.CHANGE_PASSWORD_BUTTON' | translate | uppercase }}
      </viega-button>
    </div>
  </div>
</form>
