@import "../lib/viega-common/theme/for-import/index";

@mixin composite-icon-background($color: $viega-c7) {
  &::after {
    color: $color;
    content: "\e625";
    margin-left: -3px;
  }
}

@mixin composite-icon-foreground($content) {
  &::before {
    color: $viega-c10;
    content: $content;
    position: absolute;
    font-size: 13px;
    right: 6px;
    top: 5px;
  }
}

// Styling for status labels in grids
.status-label {
  margin-right: 4px;
  padding-top: 6px;
  text-align: center;
  font-family: $viega-font-icons;
  font-size: 25px;
  position: relative;
  top: -12px;
  width: 25px;

  &.status-unknown {
    @include composite-icon-foreground("\e609");
    @include composite-icon-background($viega-c7);
  }

  &.status-ok,
  &.online {
    color: $viega-c11;
    &::before {
      content: "\e630";
    }
  }

  &.offline {
    color: $viega-c15;
    &::before {
      content: "\e634";
    }
  }

  &.unlinked {
    @include composite-icon-foreground("\e900");
    @include composite-icon-background($viega-c7);
  }

  &.persistentFailure {
    @include composite-icon-foreground("\e61b");
    @include composite-icon-background($viega-c15);
  }
}
