<!-- TODO (reger): Implement regex checks in compliance with backend, e.g. hostname regex -->

<!-- Button row -->
<div class="row m-3" *ngIf="authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM)">
  <div class="col-12">
    <div class="viega-button-group">
      <viega-button [isDisabled]="buttons[0].isDisabled" (click)="onClickSaveButton()">{{ buttons[0].name | translate }}</viega-button>
      <div class="button-wr">
        <viega-button [type]="buttons[1].type" (click)="onHandleClick(buttons[1].eventName)"
          [isDisabled]="buttons[1].isDisabled">{{ buttons[1].name | translate }}
        </viega-button>
      </div>
      <div class="button-wr">
        <viega-button [type]="buttons[2].type" (click)="onHandleClick(buttons[2].eventName)"
          [isDisabled]="buttons[2].isDisabled">{{ buttons[2].name | translate }}
        </viega-button>
      </div>
    </div>
  </div>
</div>

<!-- Settings row -->
<form name="form" (input)="onChange()" class="sys-form" >
  <div class="row m-3">

    <!-- Column 1: Time Settings -->
    <!-- TODO (Reger): Add timeConfiguration.dateTimeFormat -->
    <div class="col-12 col-md-12 col-lg-8 mb-4">
      <div class="row">
        <div class="col-12 col-md-6">
          <viega-group-heading>{{'SYSTEM.LANGUAGE_SECTION' | translate}}</viega-group-heading>
          <div class="form-group">
            <label class="modal-input-form-label" for="input-lang">{{'SYSTEM.SYSTEM_LANGUAGE' | translate}}</label>
            <viega-dropdown
              [(value)]="systemSettings.language"
              [dataSource]="selectableLanguages"
              [fields]="droppDownFields"
              [attr.disabled]="isReadOnly || authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM) ? null : ''"
              id="input-lang"
              name="systemLanguageVal"
              [locale]="'_META.LOCALE' | translate"
              [isDisabled]="isDisabled()"
            ></viega-dropdown>
          </div>

        <viega-group-heading>{{'SYSTEM.TIME_SECTION' | translate}}</viega-group-heading>

          <div class="form-group">
            <label class="modal-input-form-label" for="input-current-time">
              {{'SYSTEM.CONTROLLER_TIME' | translate}}
            </label>
            <!--  -->
            <div class="d-flex mt-2">
              <input
                [ngClass]="{'d-none': isTimeEditing}"
                [attr.disabled]="!isTimeEditing"
                type="text"
                name="currentDate"
                class="input-date-time"
                placeholder="-"
                required
                #currentDate="ngModel"
                [ngModel]="controllerTime | date:'mediumDate':'':('_META.LOCALE' | translate)">
              <input
                [ngClass]="{'d-none': isTimeEditing}"
                type="text"
                name="currentTime"
                class="input-date-time"
                placeholder="-"
                required
                #currentTime="ngModel"
                [ngModel]="controllerTime | date:'mediumTime':'':('_META.LOCALE' | translate)">
              <ejs-datetimepicker
                *ngIf="isTimeEditing"
                id="datepicker"
                [(value)]="controllerTime"
                [locale]="'_META.LOCALE' | translate"
                [step]="1"
              ></ejs-datetimepicker>
              <div class="d-flex">
                <viega-icon-button *ngIf="!isDisabled() && !isTimeEditing" icon="edit-01" (click)="onEnterTimeEditing()">
                </viega-icon-button>
                <viega-icon-button *ngIf="isTimeEditing" icon="drehen-01" (click)="onTakeClientTime()">
                </viega-icon-button>
                <viega-icon-button *ngIf="isTimeEditing" icon="cross-01" (click)="onCancelTimeEditing()">
                </viega-icon-button>
              </div>
            </div>
            <div *ngIf="currentTime.invalid && (currentTime.touched)" class="alert alert-danger">
              <label *ngIf="!!currentTime?.errors.required">
                {{'SYSTEM.REQUIRED_FIELD' | translate}}
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="modal-input-form-label" for="input-time-zone">
              {{'SYSTEM.CONTROLLER_TIMEZONE' | translate}}
            </label>
            <viega-dropdown
              (change)="onChange()"
              [(value)]="currentTimezone"
              [dataSource]="selectableTimeZones"
              [fields]="droppDownFields"
              [attr.disabled]="authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM) ? null : ''" id="input-lang"
              name="systemTimezoneVal"
              [itemTemplate]="itemTemplateTimezone"
              [valueTemplate]="valueTemplateTimezone"
              [locale]="'_META.LOCALE' | translate"
              [isDisabled]="!isTimeEditing">
              <ng-template #itemTemplateTimezone let-data>
                <span>{{data.title | translate}}</span>
              </ng-template>
              <ng-template #valueTemplateTimezone let-data>
                <span class="value">{{data.title | translate}}</span>
              </ng-template>
            </viega-dropdown>
          </div>
          <div class="form-group">
            <label class="modal-input-form-label" for="input-activate-dst">
              {{'SYSTEM.ACTIVATE_SUMMER_WINTER_CHANGEOVER' | translate}}
            </label>
            <div class="row">
              <div class="col-4">
                <viega-toggle-button
                  [isDisabled]="isDisabled()"
                  id="input-activate-dst"
                  (click)="onChange();"
                  [(value)]="systemSettings.timeConfiguration.activateDst">
                </viega-toggle-button>
              </div>
              <div class="col-8 align-self-center">{{(systemSettings.timeConfiguration.activateDst ? switchedOnText : switchedOffText) | translate}}</div>
            </div>
            </div>

        </div>
        <!-- Column 2: Controller Settings -->
        <div class="col-12 col-md-6">
          <viega-group-heading>
            {{'SYSTEM.CONTROLLER_SECTION' | translate}}
          </viega-group-heading>
          <div class="form-group m-3">
            <label class="modal-input-form-label" for="input-host">
              {{'SYSTEM.HOSTNAME' | translate}}
            </label>
            <input
              [attr.disabled]="authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM) ? null : ''"
              type="text"
              class="modal-input-box" id="input-host" name="controllerHostNameVal"
              [required]="isRequiringControllerData" #controllerHostNameVal="ngModel"
              [(ngModel)]="systemSettings.controllerConfiguration.hostName"
              [readonly]="isReadOnly"
              (ngModelChange)="handleSectionDataChange('controller')"
              >
            <div *ngIf="!isReadOnly && controllerHostNameVal.invalid && (controllerHostNameVal.touched)" class="alert alert-danger">
              <label *ngIf="!!controllerHostNameVal?.errors.required">
                {{'SYSTEM.REQUIRED_FIELD' | translate}}
              </label>
            </div>
          </div>
          <div class="form-group m-3">
            <label class="modal-input-form-label" for="input-domain">
              {{'SYSTEM.DOMAIN' | translate}}
            </label>
            <input
              [attr.disabled]="authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM) ? null : ''" type="text"
              class="modal-input-box" id="input-domain" name="controllerDomainNameVal"
              [required]="isRequiringControllerData"
              [readonly]="isReadOnly"
              #controllerDomainNameVal="ngModel" [(ngModel)]="systemSettings.controllerConfiguration.domainName"
              (ngModelChange)="handleSectionDataChange('controller')"
              >
            <div *ngIf="!isReadOnly && controllerDomainNameVal.invalid && (controllerDomainNameVal.touched)" class="alert alert-danger">
              <label *ngIf="!!controllerDomainNameVal?.errors.required">
                {{'SYSTEM.REQUIRED_FIELD' | translate}}
              </label>
            </div>
          </div>
          <div class="form-group m-3">
            <label class="modal-input-form-label" for="input-dns-server">
              {{'SYSTEM.DNS_SERVER' | translate}}
            </label>
            <input
              [attr.disabled]="authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM) ? null : ''"
              type="text"
              class="modal-input-box" id="input-dns-server" name="controllerDnsServerVal" [required]="isRequiringControllerData"
              #controllerDnsServerVal="ngModel"
              [(ngModel)]="systemSettings.controllerConfiguration.dnsServer"
              [readonly]="isReadOnly"
              (ngModelChange)="handleSectionDataChange('controller')"
              >
            <div *ngIf="!isReadOnly && controllerDnsServerVal.invalid && (controllerDnsServerVal.touched)" class="alert alert-danger">
              <label *ngIf="!!controllerDnsServerVal?.errors.required">
                {{'SYSTEM.REQUIRED_FIELD' | translate}}
              </label>
            </div>
          </div>
          <div class="form-group m-3">
            <label class="modal-input-form-label" for="input-alt-dns">
              {{'SYSTEM.ALTERNATE_DNS_SERVER' | translate}}
            </label>
            <input
              [attr.disabled]="authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM) ? null : ''"
              type="text"
              class="modal-input-box" id="input-alt-dns" name="controllerAlternateDnsVal"
              [required]="isRequiringControllerData"
              #controllerAlternateDnsVal="ngModel"
              [(ngModel)]="systemSettings.controllerConfiguration.alternativeDnsServer"
              [readonly]="isReadOnly"
              (ngModelChange)="handleSectionDataChange('controller')"
              >
            <div *ngIf="!isReadOnly && controllerAlternateDnsVal.invalid && (controllerAlternateDnsVal.touched)"
              class="alert alert-danger">
              <label *ngIf="!!controllerAlternateDnsVal?.errors.required">
                {{'SYSTEM.REQUIRED_FIELD' | translate}}
              </label>
            </div>
          </div>
          <!-- END of column 2 -->
        </div>
      </div>
    </div>



    <div class="col-12 col-md-4">
      <div class="row">
        <!-- Column 3: Mail Settings -->
        <div class="col-12">
      <viega-group-heading>{{'SYSTEM.EMAIL_SECTION' | translate}}</viega-group-heading>
        <div *ngFor="let emailError of emailSecurityErrors" class="warning m-3">
          {{getTranslationKey(emailError) | translate}}
        </div>
        <div class="form-group m-3">
          <label class="modal-input-form-label" for="input-email-address">
            {{'SYSTEM.EMAIL_ADDRESS_SENDER' | translate}}
          </label>
          <input
            [attr.disabled]="authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM) ? null : ''"
            type="text"
            class="modal-input-box" id="input-email-address" name="emailAddressVal"
            [required]="isRequiringEmailData"
            #emailAddressVal="ngModel"
            [(ngModel)]="systemSettings.emailConfiguration.from"
            [readonly]="isReadOnly"
            (ngModelChange)="handleSectionDataChange('email')"
            >
          <div *ngIf="!isReadOnly && emailAddressVal.invalid && (emailAddressVal.touched)"
            class="alert alert-danger">
            <label *ngIf="!!emailAddressVal?.errors.required">
              {{'SYSTEM.REQUIRED_FIELD' | translate}}
            </label>
          </div>
        </div>

        <div class="form-group m-3">
          <label class="modal-input-form-label" for="input-email-password">
            {{'SYSTEM.ACCESS_USERNAME' | translate}}
          </label>
          <input
            [attr.disabled]="authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM) ? null : ''"
            type="text"
            class="modal-input-box" id="input-email-password" name="emailLoginUserName"
            [required]="isRequiringEmailData"
            #emailLoginUserName="ngModel"
            [(ngModel)]="systemSettings.emailConfiguration.username"
            [readonly]="isReadOnly"
            (ngModelChange)="handleSectionDataChange('email')"
            >
          <div *ngIf="!isReadOnly && emailLoginUserName.invalid && (emailLoginUserName.touched)"
            class="alert alert-danger">
            <label *ngIf="!!emailLoginUserName?.errors.required">
              {{'SYSTEM.REQUIRED_FIELD' | translate}}
            </label>
          </div>
        </div>

        <div class="form-group m-3">
          <label class="modal-input-form-label" for="input-email-password">
            {{'SYSTEM.ACCESS_PASSWORD' | translate}}
          </label>
          <input
            [attr.disabled]="authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM) ? null : ''"
            type="password"
            class="modal-input-box" id="input-email-password" name="emailPasswordVal"
            [required]="isRequiringEmailData"
            #emailPasswordVal="ngModel"
            [(ngModel)]="systemSettings.emailConfiguration.password"
            [readonly]="isReadOnly"
            (ngModelChange)="handleSectionDataChange('email')"
            placeholder="********"
            >
          <div *ngIf="!isReadOnly && emailPasswordVal.invalid && (emailPasswordVal.touched)"
            class="alert alert-danger">
            <label *ngIf="!!emailPasswordVal?.errors.required">
              {{'SYSTEM.REQUIRED_FIELD' | translate}}
            </label>
          </div>
        </div>

        <div class="form-group m-3">
          <label class="modal-input-form-label" for="input-email-smtp">
            {{'SYSTEM.OUTGOING_MAIL_SERVER' | translate}}
          </label>
          <input
            [attr.disabled]="authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM) ? null : ''"
            type="text"
            class="modal-input-box" id="input-email-smtp" name="emailSmtpVal"
            [required]="isRequiringEmailData"
            #emailSmtpVal="ngModel"
            [(ngModel)]="systemSettings.emailConfiguration.host"
            [readonly]="isReadOnly"
            (ngModelChange)="handleSectionDataChange('email')"
            >
          <div *ngIf="!isReadOnly && emailSmtpVal.invalid && (emailSmtpVal.touched)"
            class="alert alert-danger">
            <label *ngIf="!!emailSmtpVal?.errors.required">
              {{'SYSTEM.REQUIRED_FIELD' | translate}}
            </label>
          </div>
        </div>

        <div class="form-group m-3">
          <label class="modal-input-form-label" for="input-email-smtp">
            {{'SYSTEM.OUTGOING_PORT' | translate}}
          </label>
          <input
            [attr.disabled]="authorities.has(AuthorityCodes.CONFIGURETWMSSYSTEM) ? null : ''" type="text"
            class="modal-input-box" id="input-email-smtp" name="emailSmtpPortVal"
            [required]="isRequiringEmailData"
            #emailSmtpPortVal="ngModel"
            [(ngModel)]="systemSettings.emailConfiguration.port"
            [readonly]="isReadOnly"
            (ngModelChange)="handleSectionDataChange('email')"
            >
          <div *ngIf="!isReadOnly && emailSmtpPortVal.invalid && (emailSmtpPortVal.touched)"
            class="alert alert-danger">
            <label *ngIf="!!emailSmtpPortVal?.errors.required">
              {{'SYSTEM.REQUIRED_FIELD' | translate}}
            </label>
          </div>
        </div>

        <!-- END of column 4 -->
      </div>
      </div>
    </div>


    <!-- END of Settings row -->
  </div>
