<div class="row m-3">
  <div class="col-12">
    <div class="control-section">
      <ejs-grid
        (cellSelected)="onNotificationDetailsEvent($event)"
        (dataBound)="dataBound()"
        id="pagerAtTop"
        #notificationGrid
        [dataSource]="notificationSource"
        [query]="query"
        [allowPaging]="true"
        [allowSorting]="true"
        [sortSettings]="gridSortSettings"
        [allowFiltering]="allowFiltering"
        [filterSettings]="filterSettings"
        [selectionSettings]="notificationGridSelectionsOptions"
        [pageSettings]="pageSettings"
        allowTextWrap="true"
        [locale]="'_META.LOCALE' | translate"
      >
        <e-columns>
          <e-column
            *ngFor="let item of allNotificationsColumnData"
            [field]="item.field"
            [headerText]="item.headerText | translate"
            [textAlign]="item.textAlign || 'Left'"
            [format]="item.format || null"
            [width]="item.width"
            [hideAtMedia]="item.hideAtMedia || null"
            [allowSorting]="item.allowSorting || null"
            [allowFiltering]="item.allowFiltering || null"
          >
            <ng-template #template let-data *ngIf="item.field === 'createdByName'">
              <span class="source">{{data[item.field]}}</span>
            </ng-template>
            <ng-template #template let-data *ngIf="item.field === 'summary'">
             <!-- translate and replace unresolved parameters with placeholder -->
             {{data[item.field] | translate:getMessageParameters(data.description) | replace:'\{\{[\\w\\.]+\}\}':'-'}}
            </ng-template>
          </e-column>
          <e-column class="user-grid-tools" [headerText]="'GLOBAL.ACTION' | translate" width="125px" textAlign="Center" [visible]="showAcknowledgementColumn()">
            <ng-template #template let-data>
              <viega-button
                *ngIf="(data.acknowledgedTime === null) && authorities.has(AuthorityCodes.ACKNOWLEDGEMESSAGE)"
                mat-button
                class="modal-button"
                type="secondary"
                (click)="onAcknowledge(data.rowId)"
                id="button-notifications-quittieren"
              >
                {{ 'NOTIFICATIONS.CONFIRM' | translate }}
              </viega-button>
              <viega-button
                *ngIf="(data.acknowledgedTime !== null) && (data.fixedTime === null) && authorities.has(AuthorityCodes.FIXMESSAGE)"
                type="secondary"
                mat-button
                class="modal-button"
                (click)="onFixMessage(data.rowId)"
                id="button-notifications-fixed"
              >
                {{ 'NOTIFICATIONS.RESOLVE' | translate }}
              </viega-button>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>
