@import "src/app/shared/lib/viega-common/lib/datagrid/datagrid/datagrid.component.scss";

.e-checkboxfilter {
  .e-searchbox {
    // prevent free text search
    display: none;
  }
}

.source:hover {
  text-decoration: underline;
  cursor: pointer;
}