<div class="row">
  <div class="col-md-6">
    <!-- TODO: Add "Netzwerkeinstllungen" and "Portfreigabe" -->
  </div>
  <div class="col-md-6 ">
    <div class="row mb-2">
      <div class="col d-flex justify-content-end">
        <viega-button (click)="onClickDeviceFirmwareUpdate()">{{'DEVICES.UPDATE_FIRMWARE' | translate}}</viega-button>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <viega-button [isDisabled]="true">{{'DEVICES.UPDATE_LICENSE_FILE' | translate}}</viega-button>
      </div>
    </div>
  </div>
</div>
