<form [formGroup]="tempForm" id="form-function-temperture-groups">
  <table id="table" cdkDropListGroup>
    <thead cdkDropList cdkDropListLockAxis="x" cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropListDropped($event)">
      <th>{{ "FUNCTIONS.TEMPERATURE_LEVEL" | translate }}</th>
      <th class="handle" *ngFor="
                let device of model.getSelectedFlushableDevices();
                let colIndex = index" cdkDrag>
        {{ device.name }}
      </th>
    </thead>
    <tbody formArrayName="tempValues">
      <tr *ngFor="let target of tempValues.controls; let i = index" formGroupName="{{ i }}"
        (ngModelChange)="onChange($event)">
        <td>
          {{ target.value.tempLevel.name | translate }}
          {{ target.value.tempLevel.boundaries }}
        </td>
        <ng-container formArrayName="devices">
          <td *ngFor="let deviceControl of target['controls'].devices['controls']; let k=index" formGroupName="{{k}}">
            <input formControlName="tempValue" class="tempValueInput"
              (input)="onCirculationInput(deviceControl.value.device.uuid, target.value.tempLevel.key, $event)"
              (mousewheel)="onMouseWheel($event)"
              inputmode="numeric"
              type="number"
              placeholder="°C"
              #tempVal
              [ngClass]="{'required': tempVal.errors && tempVal.errors.required, 'invalid': !tempVal.value }"
            />
            <span class="tem-error"
              *ngIf="deviceControl.get('tempValue').errors && deviceControl.get('tempValue').errors.outOfBounds">
              {{'FUNCTIONS.TEMPERATURE_LEVEL_VALIDATION_MESSAGE' | translate}}
            </span>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</form>
