<div class="container-fluid measurement-data">
  <div class="filter-row row m-3">
    <div class="col-md-6 col-lg-8 col-12">
      <viega-group-heading>
        {{'PROTOCOLS.FILTER_SELECTION'| translate}}
      </viega-group-heading>
      <div class="row mt-1">
        <div class="date-filter col-auto">
          <label class="d-block picker-width">
            {{'DATETIMERANGEPICKER.FROM' | translate}}
            <ejs-datetimepicker #fromDatePicker [(value)]="startDateTime" [max]="maxStartTime" [strictMode]="true" (change)="onDatechange()" [locale]="'_META.LOCALE' | translate"></ejs-datetimepicker>
          </label>
          <label class="d-block picker-width mt-2">
            {{'DATETIMERANGEPICKER.TO' | translate}}
            <ejs-datetimepicker #toDatePicker [(value)]="endDateTime" [min]="minEndTime" [strictMode]="true" (change)="onDatechange()" [locale]="'_META.LOCALE' | translate"></ejs-datetimepicker>
          </label>
        </div>

        <div class="date-filter mb-3 mt-2 col-md-12 col-lg-6">
          <viega-button (click)="onFilterReset()" class="clear-left-margin" [isDisabled]="false">
              {{'PROTOCOLS.RESET_FILTER'| translate}}
          </viega-button>
        </div>
      </div>
    </div>

    <div class="filter-templates mb-3 col-md-6 col-lg-4">
      <app-filter-template #templateManager [section]='section' [(activeFilter)]='activeFilter' (activeFilterChange)="onTemplateSelected()">
      </app-filter-template>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-12">
      <ejs-grid #dataGrid [dataSource]="logDataSource" [query]="query" [allowPaging]="true" [allowSorting]="true" [sortSettings]="gridSortSettings" [allowFiltering]="allowGridFiltering"
        allowTextWrap="true" [locale]="'_META.LOCALE' | translate"  [pageSettings]="pageSettings">
        <e-columns>
          <e-column
            *ngFor="let item of gridColumns"
            [field]="item.field"
            [allowSorting]="item.allowSorting || null"
            [headerText]="item.headerText | translate"
            [textAlign]="item.textAlign || 'Left'"
            [format]="item.format || null"
            [width]="item.width"
            [hideAtMedia]="item.hideAtMedia || null">
            <ng-template #template let-data *ngIf="item.field === 'summary'">
             <!-- translate and replace unresolved parameters with placeholder -->
             {{data[item.field] | translate:getMessageParameters(data.description) | replace:'\{\{[\\w\\.]+\}\}':'-'}}
             <!-- Support legacy messages with non-JSON description -->
             <div *ngIf="data.description && data.description.length && data.description[0] !== '{'">
               {{renderMessageDescription(data.description)}}
             </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-12">
      <viega-button [type]="exportButton.type" [isDisabled]="exportButtonDisabled()" (click)="onExportMessages()">
        {{exportButton.name | translate | uppercase}}
      </viega-button>
    </div>
  </div>
</div>
