<app-modal-dialog [title]="data.title | translate" [buttons]="buttons" (buttonEvent)="onButtonEvent($event)"
  id="modal-question-dialog">

  <div class="row m-3">
    <div class="modal-label">
      {{ !!data.params ? (data.message | translate:data.params) : (data.message | translate) }}
    </div>
  </div>

  <div class="row m-3">
    <div class="col-12 my-3">
      <ejs-listbox [dataSource]="foundDevices" #listboxReference id="listbox-reverse-search">
      </ejs-listbox>
    </div>
  </div>

</app-modal-dialog>
