@import "../../../lib/viega-common/theme/for-import/variables";
.filter-template {
    padding: 0px;
    margin: 0px;

    .e-listbox-wrapper {
        .e-list-item {
            &:hover:not(.e-disabled),
            &.e-selected:not(.e-disabled),
            &.e-selected:hover:not(.e-disabled) {
                border-color: transparent;
                color: $viega-c1;
            }
        }
    }

    .e-listbox-wrapper {
        .e-list-item {
            &:hover:not(.e-disabled) {
                background-color: $viega-c9;
            }
     
            &.e-selected {
                &:not(.e-disabled) {
                    background-color: $viega-c8;
                }
                &:hover:not(.e-disabled) {
                    background-color: $viega-c7;
                }
            }
        }
    }

    .row {
        margin-left: 0px;
    }
}
