@import "../shared/lib/viega-common/theme/for-import/shared";
@import 'node_modules/bootstrap/scss/bootstrap-grid';

$left-pad: 50px;
$left-pad-modbile: 30px;

@mixin viega-font {
    color: $viega-c1;
    font-family: "HelveticaNeue55Roman";
    font-size: 14px;
}

html,
body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
    padding: 0;
    background-color: $viega-c9;
}

.info-title {
    margin-top: 30px;
    font-size: 20px;
}

.input-dll {
    visibility: hidden;
}

input {
    width: 100%;
}

.submit-box {
    padding-right: 30px;
    margin-bottom: 50px;

    viega-button {
        width: 100%;
    }
}

.progress-label {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.login-page {
    height: 89%;
    min-height: calc(100% - 103px);
    @include viega-font();

    .row {
        height: 100%
    }

    .login-data {
        background-color: $viega-c9;
        box-sizing: border-box;
        position: relative;
        height: 100%;
        padding: 0;

        &::before,
        .center-box {
            vertical-align: middle;
            display: inline-block;
            width: 100%;
        }

        &::before {
            content: '';
            width: 0;
            height: 100%;
        }

        .yellow-title {
            min-height: 50px;
            z-index: 10;
            position: relative;
            background: $viega-c13;
            width: 140%;
            padding-left: $left-pad;
        }

        .twms-text {
            color: $viega-c1;
            font-size: 3.5rem;
            line-height: 5rem;
        }
        .form-wr {
            min-height: 250px;
            margin-left: $left-pad;
            margin-top: 50px;

            .info {
                min-height: 30px;
                line-height: 25px;
                margin: 15px 0;
            }

        }
    }

    .login-image {
        background-color: $viega-c7;
        z-index: 1;
    }

}

@include media-breakpoint-down(sm) {
    body, html {
        overflow-y: visible;
        overflow-x: hidden;
    }

    .login-page {
        overflow-x: hidden;
        height: auto;

        &::before,
        .center-box {
            vertical-align: top;
        }
        .login-data {
            display: initial;
            min-height: 300px;

            .yellow-title {
                width: 100%;
                padding-left: $left-pad-modbile;
            }

            .twms-text {
                line-height: 3.5rem;
                font-size: 2rem;
            }

            .form-wr {
                padding-left: $left-pad-modbile;
                min-width: 80%;
                margin: 0 auto;
            }
        }

        .login-image {
            min-height: 200px;
        }
    }
}
