<app-modal-dialog [title]="isController() ? ('DEVICES.CONTROLLER_DETAILS' | translate) : ('DEVICES.DEVICE_DETAILS' | translate)" [buttons]="buttons" (buttonEvent)="onModalCancel()">
  <div class="container">
    <app-device-details-header [device]="dialogData.device" (change)="onChanged()"></app-device-details-header>
  </div>
  <viega-tab-view>
    <!-- Parameter values of unlinked devices cannot be accessed. -->
    <viega-tab *ngIf="!isController() && isLinked()" tabTitle="Status">
      <div class="container">
        <app-device-details-status [device]="dialogData.device" [deviceParameters]="deviceParameters">
        </app-device-details-status>
      </div>
    </viega-tab>
    <!-- Parameter values of unlinked devices cannot be accessed. -->
    <viega-tab *ngIf="!isController() && isLinked()" [tabTitle]="'DEVICES.CONFIG_TAB' | translate">
      <div class="container">
        <app-device-details-configuration [device]="dialogData.device" [authorities]="dialogData.authorities" (change)="onChanged()">
        </app-device-details-configuration>
      </div>
    </viega-tab>
    <viega-tab *ngIf="!isController() && maintenanceTabEnabled" [tabTitle]="'DEVICES.MAINTENANCE_TAB' | translate">
      <div class="container">
        <app-device-details-maintenance [device]="dialogData.device" (change)="onChanged()"></app-device-details-maintenance>
      </div>
    </viega-tab>
    <viega-tab *ngIf="!isController() && !isRulantica() && !isHyplus()" [tabTitle]="'DEVICES.FUNC_TEST' | translate">
      <div class="container">
        <app-device-details-dte-function-test-hardware *ngIf="isDte()"  [device]="dialogData.device" (change)="onChanged()"></app-device-details-dte-function-test-hardware>
        <app-device-details-function-test-hardware *ngIf="!isDte()" [device]="dialogData.device" (change)="onChanged()"></app-device-details-function-test-hardware>
      </div>
    </viega-tab>
    <viega-tab *ngIf="isController()" [tabTitle]="'DEVICES.CONFIG_TAB' | translate">
      <div class="container">
        <app-controller-details-configuration [deviceController]="dialogData.device" (change)="onChanged()">
        </app-controller-details-configuration>
      </div>
    </viega-tab>
    <viega-tab *ngIf="isSensorCompatible()" [tabTitle]="'DEVICES.SENSORS_TAB' | translate">
      <div class="container">
       <div *ngIf="!hasFreeSensorPorts()">
         {{'DEVICES.NO_FREE_PORTS' | translate}}
         <!-- TODO (Reger): Optional: Implement list of all assigned sensor devices? -->
       </div>
       <div *ngIf="hasFreeSensorPorts()">
        <app-device-details-sensor [device]="dialogData.device"></app-device-details-sensor>
      </div>
      </div>
    </viega-tab>
  </viega-tab-view>
  <app-notification-bar *ngIf="isMultipleSessionsOpened">
    {{'DEVICES.MORE_THAN_ONE_SESSION_OPENED_FOR_DTE' | translate}}
  </app-notification-bar>
</app-modal-dialog>
