<div class="container-fluid">
  <ng-template #dropDownItemTemplate let-data>
    {{data.title | translate}}
  </ng-template>
  <ng-template #dropDownValueTemplate let-data>
    <span class="value">{{data.title | translate}}</span>
  </ng-template>

  <div class="row m-3">
    <div class="col-md-4">
      <div class="row my-3">
        <label>
          {{'PROTOCOLS.PHYSICAL_UNIT_LEFT' | translate}}
          <viega-dropdown
            name="y-axis-left"
            [dataSource]="dimensions"
            [fields]="dimensionsFields"
            [placeholder]="placeholder | translate"
            (change)="onUnitSelected(0, $event.value)"
            [itemTemplate]="dropDownItemTemplate"
            [valueTemplate]="dropDownValueTemplate"
            [locale]="'_META.LOCALE' | translate"
          ></viega-dropdown>
        </label>
      </div>
      <div class="row my-3">
        <label>
          {{'PROTOCOLS.DEVICE_NAME' | translate}} / {{'PROTOCOLS.MEASURING_POINT' | translate}}
          <ejs-multiselect #deviceSelector0 name="devices-left" mode="Box" [dataSource]="dataPoints[0]" [fields]='dataPointsFields' [maximumSelectionLength]="maxSelectedDevices" [placeholder]="placeholder| translate" (change)="onDevicesSelected(0, $event.value)" (tagging)="onMultiSelectChipTagging($event)"></ejs-multiselect>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row my-3">
        <label>
          {{'PROTOCOLS.PHYSICAL_UNIT_RIGHT' | translate}}
          <viega-dropdown
            name="y-axis-right"
            [dataSource]="dimensions"
            [fields]="dimensionsFields"
            [placeholder]="placeholder | translate"
            (change)="onUnitSelected(1, $event.value)"
            [itemTemplate]="dropDownItemTemplate"
            [valueTemplate]="dropDownValueTemplate"
            [locale]="'_META.LOCALE' | translate"
          ></viega-dropdown>
        </label>
      </div>
      <div class="row my-3">
        <label>
          {{'PROTOCOLS.DEVICE_NAME' | translate}} / {{'PROTOCOLS.MEASURING_POINT' | translate}}
          <ejs-multiselect #deviceSelector1 name="devices-right" mode="Box" [dataSource]="dataPoints[1]" [fields]='dataPointsFields' [maximumSelectionLength]="maxSelectedDevices" [placeholder]="placeholder| translate" (change)="onDevicesSelected(1, $event.value)" (tagging)="onMultiSelectChipTagging($event)"></ejs-multiselect>
        </label>
      </div>
    </div>
    <div class="col-md-3 offset-md-1">
      {{'PROTOCOLS.DOC_MANAGEMENT' | translate | uppercase}}
    </div>
  </div>

  <div class="row m-3">
    <div class="col-md-8">
      <viega-group-heading>{{'PROTOCOLS.PERIOD' | translate}}</viega-group-heading>
      <div class="row">
        <div class="form-group mt-3 col-md-6">
          <label class="d-block picker-width">{{'DATETIMERANGEPICKER.FROM' | translate}}
            <ejs-datetimepicker #fromDatePicker [(value)]="startDateTime" [strictMode]="true" (change)="onStartDateChange()"
              [locale]="'_META.LOCALE' | translate"></ejs-datetimepicker>
          </label>
          <label class="d-block picker-width mt-2">{{'DATETIMERANGEPICKER.TO' | translate}}
            <ejs-datetimepicker #toDatePicker [(value)]="endDateTime" [strictMode]="true" (change)="onEndDateChange()"
              [locale]="'_META.LOCALE' | translate"></ejs-datetimepicker>
          </label>
        </div>
        <div class="col-md-4 m-2">
          <viega-toggle-button id="live-toggle" [value]="false" [isDisabled]="!liveViewToggleEnabled" (valueChange)="onLiveViewToggle($event)"></viega-toggle-button>
          <label for="live-toggle" class="m-2">{{'PROTOCOLS.LIVE' | translate}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-12">
      <ejs-chart #chart [chartArea]='chartArea' id='chartcontainer'
        [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [legendSettings]='legend' [tooltip]='tooltip'
        [zoomSettings]='zoomSettings' [locale]="'_META.LOCALE' | translate">
        <e-axes>
          <!-- Configured on the fly when it is used. -->
          <e-axis
            rowIndex="0" [opposedPosition]="secondaryYAxis.opposedPosition" [name]="'secondaryYAxis'"
            [majorTickLines]="secondaryYAxis.majorTickLines" [majorGridLines]="secondaryYAxis.majorGridLines"
            [minorTickLines]="secondaryYAxis.minorTickLines" [minorGridLines]="secondaryYAxis.minorGridLines"
            [visible]="secondaryYAxis.visible" [lineStyle]="secondaryYAxis.lineStyle">
          </e-axis>
        </e-axes>
      </ejs-chart>
    </div>
  </div>
</div>
