  <div class="container">
    <div class="cright noselect" *ngIf="status">
      <div class="label ok" *ngIf="!status.DISRUPTION && !status.ALARM">
        {{'APP.STATUS_OK' | translate}}
      </div>
      <div class="label warning" *ngIf="!!status.DISRUPTION">
        {{'APP.STATUS_WARNING' | translate}}
        <a routerLink="/notifications/new">
          <span class="badge">{{ status.DISRUPTION }}</span>
        </a>
      </div>
      <div class="label error" *ngIf="!!status.ALARM">
        {{'APP.STATUS_ERROR' | translate}}
        <a routerLink="/notifications/new">
          <span class="badge">{{ status.ALARM }}</span>
        </a>
      </div>
    </div>
  </div>
