@import "src/app/shared/components/modal-dialog/modal-dialog/modal-dialog.component.scss";

$ball-size:10px;
$line-active-color:$viega-c3;
$line-inactive-color:$viega-c8;
$label-active-color:$viega-c2;
$label-inactive-color:$viega-c7;
$ball-active-color:$viega-c13;
$label-push-value:-10px;

.item-wr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 100%;

    .item-box {
        flex: 1;

        &:not(:first-child):not(:last-child) {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        &:first-child {
            flex: 0.5;
        }

        &:last-child {
            flex: 0.5;
            justify-content: flex-end;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
        }
    }

}

.ruler {
    flex: 1 0 32px;
    min-width: 1px;
    min-height: 1px;
    margin-top: -5px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, .12);
}

.ruler-active {
    min-width: 1px;
    min-height: 1px;
    margin-top: -1px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.9);
}


.item-trigger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: none;
    outline: 0;


    .label {
        font-size: 12px;
        color: $label-inactive-color;
        outline: 0;
        font-family: $viega-font-light;
        margin-left: $label-push-value;
        line-height: 40px;
        width: 100%;
        text-align: center;
    }


    .indicator-ball {
        height: $ball-size;
        width: $ball-size;
        border-radius: $ball-size;
        background-color: $label-inactive-color;
        border: 1px solid $viega-c7;
        z-index: 10;
        position: relative;

    }

    &.active {
        .label {
            color: $label-active-color;
            font-family: $viega-font-regular;
        }

        .indicator-ball {
            background-color: $ball-active-color;
            border: 1px solid $viega-c7;
        }
    }

}

.step-container {
    padding-top: 30px;
    min-height: 1px;
}
