<div class="row m-3">
  <div class="col-12">
    <ejs-grid
      id="table-controller-overview-list"
      [dataSource]="controllerList"
      [allowPaging]="true"
      [allowSorting]="true"
      allowTextWrap="true"
      [locale]="'_META.LOCALE' | translate"
      class="controllers"
    >
      <e-columns>
        <e-column [headerText]="statusHeaderText | translate">
          <ng-template #template let-data>
            <div class="inline">
              <span
                  [class]="'status-label ' + (data.color | translate | lowercase)"
                  [title]="data.status | translate | uppercase">
              </span>
              <app-device-icon deviceType="Controller" size="40"></app-device-icon>
            </div>
          </ng-template>
        </e-column>
        <e-column *ngFor="let item of columns" [field]="item.field" [headerText]="item.headerText | translate" [textAlign]="item.textAlign || 'Left'"
          [format]="item.format || null" [hideAtMedia]="item.hideAtMedia || null" [valueAccessor]="item.valueAccessor || null">
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
