@import '../../shared/lib/viega-common/theme/for-import/index';
@import "src/app/shared/lib/viega-common/lib/datagrid/datagrid/datagrid.component.scss";

$viega-border-radius: 4px;

:host ::ng-deep .controllers {
    @import '../../shared/scss/status-label';

    .controller-link {
        text-decoration: underline;
    }

    // deep nesting to be more specific than default datagrid styling
    .e-table {
        .e-row .e-rowcell, .e-columnheader .e-headercell {
            font-family: $viega-font-regular;
        }

        // column with status label and controller image
        .e-row .e-rowcell {
            &[aria-colindex="0"] {
                align-items: center;
                display: flex;
                font-family: $viega-font-bold;
                justify-content: space-between;
            }
        }
    }

    .status-label {
        top: -14px;
    }
}
