.dashboard-container {
    // Allows one degree of freedom for scaling with window
    width: auto;
    /*
    Fixes height, only currently working variant.
    If set larger than window size, the image is still maxed out up to screen width!
    Chosing UHD height to avoid arbitrary number. This should work up to 4K monitors.
    */
    height: 2160px;
    // Setting limit for smallest shrinking before scrollbars appear
    // TODO (Reger) fix readability on mobile devices as follows. Needs position refactors.
    //min-width: 1200px;
    position: relative;
    // Keeps background image at original aspect ratio
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;

    .edit-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        z-index: 2555;

        .edit-button {
            float: left;
            z-index: 8;
            display: flex;
            align-content: flex-end;
            height: auto;
        }
        .drop-zone {
            height: auto;
            display: flex;
            flex-direction: row;
            .action-item {
                height: 38px;
            }
        }
    }

    .dashboard-item {
        height: 140px;
        width: 140px;
        padding: 10px 0;
        position: absolute;
        :hover {
            cursor: pointer;
        }
    }

    .device-list {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
