<div class="form-group row mt-3">
    <div class="col-12">
      <label class="modal-input-form-label full-label" for="sequence-devices"
        >{{'FUNCTIONS.LABEL_SEQUENCE_TAPS' | translate}}</label
      >
      <div cdkDropList class="device-list" (cdkDropListDropped)="onDropDevice($event)">
        <div
          class="device-box"
          *ngFor="let device of devices"
          id="sequence-devices"
          cdkDrag
        >
          <viega-icon-button icon="drag-01"></viega-icon-button>
          {{ device.name }}
        </div>
      </div>
    </div>
</div>
