<app-modal-dialog id="modal-generated-dynamic-dialog" [buttons]="getButtons()" (buttonEvent)="onButtonEvent($event)" [title]="getTitle()">
  <!-- getDisplayElements: Returns rows of data. Every array will be one line. -->
  <ng-container *ngFor="let items of getDisplayElements()" class="block row">
    <!-- Every entry in the array will be one column -->
    <ng-container *ngFor="let it of items" [ngSwitch]="it.displayType || 'OValue'">
      <app-modular-output-value
        [numCols]="items.length"
        [data]="it"
        *ngSwitchCase="'OValue'"
        (changeEvt)="valueChange($event)"
      ></app-modular-output-value>
      <app-modular-output-info
        [numCols]="items.length"
        [data]="it"
        *ngSwitchCase="'OInfo'"
        (changeEvt)="valueChange($event)"
      ></app-modular-output-info>
      <app-modular-input-button
        [numCols]="items.length"
        [data]="it"
        *ngSwitchCase="'IButton'"
        (changeEvt)="valueChange($event)"
      ></app-modular-input-button>
      <app-modular-input-numeric
        [numCols]="items.length"
        [data]="it"
        *ngSwitchCase="'INumeric'"
        (changeEvt)="valueChange($event)"
      ></app-modular-input-numeric>
      <app-modular-output-testdata
        [numCols]="items.length"
        [data]="it"
        *ngSwitchCase="'TestData'"
        (changeEvt)="valueChange($event)"
      ></app-modular-output-testdata>
    </ng-container>
  </ng-container>
</app-modal-dialog>
