<div class="row m-2" (input)="onParamChange()">
  <form class="col-lg-8 mb-2">
    <table class="device-config-table">
      <tr *ngFor="let parameter of displayParameters">
        <td class="device-param-label">{{ 'API.DEVICE_PARAMETERS.' + parameter.keyName | translate }}</td>
        <td class="device-param-value" style="text-align: center;">
          <viega-unit-input *ngIf="parameter.dataType !== 'boolean' && !parameter.selectableOptions"
            id="input-device-details-configuration-{{parameter.keyName}}" name={{parameter.keyName}}
            [(ngModel)]="parameter.value" inputWidth="5em" [isSliderEnabled]="false" [unitLabel]="[parameter.unit]"
            [min]="parameter.min" [max]="parameter.max">
          </viega-unit-input>

          <!-- TODO: Set value when available -->
          <viega-checkbox *ngIf="parameter.dataType === 'boolean'"
            id="input-device-details-configuration-{{parameter.keyName}}" name={{parameter.keyName}}
            [(ngModel)]="parameter.valueBoolean" (valueChange)="onParamChange()">
          </viega-checkbox>
          <viega-dropdown
            *ngIf="parameter.selectableOptions"
            [(value)]="parameter.value"
            id="select-device-details-configuration-{{parameter.keyName}}"
            (valueChange)="onParamChange()"
            [dataSource]="parameter.selectableOptions"
            [locale]="'_META.LOCALE' | translate"
          ></viega-dropdown>
        </td>
      </tr>
      <tr *ngIf="isFlushableDevice()">
        <td class="device-param-label">
          {{'DEVICES.CIRCULATION_FUNCTION_SELECTION_LABEL' | translate}}
        </td>
        <td class="device-param-value">
          <viega-dropdown [(value)]="circulationFunction"
            id="select-device-details-configuration-circulation-function"
            (change)="onCirculationFunctionChanged($event)"
            [dataSource]="circulationFunctions"
            [fields]="{ text: 'name', value: 'name' }"
            [locale]="'_META.LOCALE' | translate"
          ></viega-dropdown>
        </td>
      </tr>
    </table>
  </form>
  <div class="col-lg-4">
    <div
      *ngIf="specialParameters['Werkseinstellungen wieder herstellen'] && authorities.has(AuthorityCodes.FACTORYRESETDEVICE) && isFactoryResetableDevice()"
      class="mb-2">
      <!-- Handle factory reset -->
      <viega-button [isDisabled]="!canFactoryResetDevice()" (click)="factoryResetParameters()">
        {{ 'DEVICES.FACTORY_RESET' | translate }}</viega-button>
    </div>
    <div class="mb-2" *ngIf="canFirmwareUpdateFlagEnabled && authorities.has(AuthorityCodes.ASSIGNFIRMWARETODEVICE) && isFirmwareUpdatableDevice()">
      <!-- Handle firmware update -->
      <viega-button (click)="onClickDeviceFirmwareUpdate()">{{ 'DEVICES.UPDATE_FIRMWARE' | translate }}</viega-button>
    </div>

    <div class="mb-2">
      <viega-button [isDisabled]="!saveButtonEnabled()" (click)="onSave()">{{ 'GLOBAL.SAVE_BUTTON_TEXT' | translate }}
      </viega-button>
    </div>

    <div class="mb-2" *ngIf="deviceUpdateStatus=== 'UpdateFailed'">
      <!-- Handle device update repeat -->
      <viega-button (click)="onClickDeviceFirmwareUpdate()">{{ 'DEVICES.UPDATE_DEVICE_REPEAT'| translate }}</viega-button>
    </div>

    <div class="mb-2" *ngIf="isHyplus()">
      <viega-button (click)="onConfigure()">{{ 'DEVICES.CONFIGURE_DEVICE' | translate }}</viega-button>
    </div>
  </div>
</div>
