<!-- Modal child component, including header and buttons as defined in "buttons" -->
<app-modal-dialog id="modal-user-add" [title]="'USERS.CREATE_USER_TEXT' | translate" [buttons]="buttons" (buttonEvent)="onButtonEvent($event)">

  <form #form="ngForm" name="form" (input)="onChange()">
    <!-- ROW 1 -->
    <div class="row m-3">
      <div class="col-sm-6">
        <label class="modal-input-form-label" id="label-user-add-firstname">
          {{ 'USERS.FIRSTNAME' | translate }}:<br>
          <input type="text" class="modal-input-box" name="firstname" id="input-user-add-firstname"
            [placeholder]="'USERS.FIRSTNAME_PLACE_HOLDER' | translate"
            required #firstNameVal="ngModel" [(ngModel)]="userAddForm.firstName">
          <div *ngIf="firstNameVal.invalid && (firstNameVal.touched)" class="alert alert-danger">
            <label *ngIf="!!firstNameVal.errors.required">
              {{ 'GLOBAL.REQUIRED_FIELD_TEXT' | translate }}
            </label>
          </div>
        </label>
      </div>
      <div class="col-sm-6 mt-3 mt-sm-0">
        <label class="modal-input-form-label" id="label-user-add-lastname">
          {{ 'USERS.LASTNAME' | translate }}:<br>
          <input type="text" class="modal-input-box" id="input-user-add-lastname" name="lastname"
            [placeholder]="'USERS.LASTNAME_PLACE_HOLDER' | translate" [(ngModel)]="userAddForm.lastName" required #lastNameVal="ngModel">
          <div *ngIf="lastNameVal.invalid && (lastNameVal.touched)" class="alert alert-danger">
            <label *ngIf="!!lastNameVal.errors.required">
              {{ 'GLOBAL.REQUIRED_FIELD_TEXT' | translate }}
            </label>
          </div>
        </label>
      </div>
    </div>

    <!-- ROW 2 -->
    <div class="row m-3">
      <div class="col-sm-6">
        <label class="modal-input-form-label" id="label-user-add-mail">
          {{ 'USERS.EMAIL' | translate }}:<br>
          <input type="email" class="modal-input-box" id="input-user-add-mail" name="mail"
            [placeholder]="'USERS.EMAIL_PLACE_HOLDER' | translate" [(ngModel)]="userAddForm.email" required email
            #emailVal="ngModel">
          <div *ngIf="emailVal.invalid && (emailVal.touched)" class="alert alert-danger">
            <label *ngIf="!!emailVal.errors.required">
              {{ 'GLOBAL.REQUIRED_FIELD_TEXT' | translate }}
            </label>
            <label *ngIf="(!!emailVal.errors.email) || (!!emailVal.errors.pattern)">
              {{ 'USERS.INVALID_EMAIL_TEXT' | translate }}
            </label>
          </div>
        </label>
      </div>
      <div class="col-sm-6">
      </div>
    </div>

    <!-- ROW 3 -->
    <div class="row m-3">
      <div class="col-sm-6">
        <label class="modal-input-form-label" id="label-user-add-username">
          {{ 'USERS.LOGINNAME' | translate }}:<br>
          <input type="text" class="modal-input-box" id="input-user-add-username" name="username" pattern="[a-zA-Z0-9-_\.]+" minlength=5
            [placeholder]="'USERS.USERNAME_PLACE_HOLDER' | translate" [(ngModel)]="userAddForm.loginName" required #userNameVal="ngModel">
          <div *ngIf="userNameVal.invalid && (userNameVal.touched) && !!getUsernameError(userNameVal.errors).length" class="alert alert-danger">
            <label> {{ getUsernameError(userNameVal.errors) | translate: { num: (userNameVal.errors.minlength || {}).requiredLength } }} </label>
          </div>
        </label>
      </div>
      <div class="col-sm-6">
      </div>
    </div>

    <!-- ROW 4 -->
    <!-- Password inputs use 'readonly' workaround to avoid browser filling out credentials -->
    <div class="row m-3">
      <div class="col-sm-6">
        <label class="modal-input-form-label" id="label-user-add-password">
          {{ 'LOGIN.PASSWORD' | translate }}:<br>
          <input type="password" class="modal-input-box" id="input-user-add-password" name="password"
            [(ngModel)]="userAddForm.password" required pattern={{passwordPattern}} #passwordVal="ngModel" readonly
            (focus)="removeReadonly($event)" placeholder="******" required >
          <div *ngIf="passwordVal.invalid && (passwordVal.touched)" class="alert alert-danger">
            <label *ngIf="!!passwordVal.errors.required">
              {{ 'GLOBAL.REQUIRED_FIELD_TEXT' | translate }}
            </label>
            <label *ngIf="!!passwordVal.errors.pattern">
              {{ 'USERS.INSECURE_PASSWORD_TEXT' | translate }}
            </label>
          </div>
        </label>
      </div>
      <div class="col-sm-6 mt-3 mt-sm-0">
        <label class="modal-input-form-label" id="label-user-add-password-retype">
          {{ 'LOGIN.CONFIRM_PASSWORD' | translate }}:<br>
          <input type="password" class="modal-input-box" id="input-user-add-password-retype" name="passwordConfirmation"
            [(ngModel)]="userAddForm.passwordConfirmation" required [appValidateEqual]="['password', 'passwordConfirmation']"
            #passwordConfirmationVal="ngModel" readonly (focus)="removeReadonly($event)"
            placeholder="******">
          <div *ngIf="passwordConfirmationVal.invalid && (passwordConfirmationVal.touched)" class="alert alert-danger">
            <label *ngIf="!!passwordConfirmationVal.errors.required">
              {{ 'GLOBAL.REQUIRED_FIELD_TEXT' | translate }}
            </label>
            <div *ngIf="!!passwordConfirmationVal.errors.customError">{{ 'USERS.PASSWORDS_NOT_EQUAL' | translate }}</div>
          </div>
        </label>
      </div>
    </div>
    <div *ngIf="passwordVal.invalid && (passwordVal.touched)" class="mx-3 mt-0" id="label-password-weak-container">
      <div class="col-12 alert alert-danger" id="label-password-weak-hint">
        <label *ngIf="!!passwordVal.errors.pattern">
          *{{ 'USERS.PASSWORD_SUMMARY' | translate }}
        </label>
      </div>
    </div>

    <!--  ROW 5 -->
    <div class="row m-3">
      <div class="col-sm-6">
        <div #userRoleForm>
          <label class="modal-input-form-label" id="radio-user-add-roles">
            {{ 'USERS.USER_GROUP' | translate }}
          </label>
          <div class="modal-radio-container" *ngFor="let role of userRoles; index as i">
            <viega-radio name="userRole" value={{role.id}}
              id="radio-user-add-role-select-{{role.id}}" [(ngModel)]="userAddForm.authorityTemplateName" required
              #userRoleVal="ngModel"></viega-radio>
            <label class="modal-radio-input" for="radio-user-add-role-select-{{role.id}}" (click)="onUserRoleSelect(role.id); onChange()">{{ role.description | translate }}</label><br>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </form>
</app-modal-dialog>
