<app-modal-dialog [title]="'DASHBOARD.CREATE_DASHBOARD' |translate" [buttons]="buttons" (buttonEvent)="onButtonEvent($event)">
  <form name="form" (input)="onChange()">
    <!-- ROW 1 -->
    <div class="row m-3">
      <div class="col-12">
        <label class="modal-input-form-label" id="label-dashboard-add-dasboard">
          {{'DASHBOARD.DESIGNATION' | translate}}<br>
          <!-- TODO (Reger): Refactor regex with enum from api once existing. Currently prevents double spaces: -->
          <input type="text" class="modal-input-box" id="input-dashboard-add-dashboardName" name="firstname"
            [placeholder]="'GLOBAL.NAME' |translate" required pattern="^([\w.-:,+?()&%!]+ )*[\w.-:,+?()&%!]+$" maxlength="35" minlength="4" #dashboardNameVal="ngModel"
            [(ngModel)]="newDashboardName">
          <div *ngIf="dashboardNameVal.invalid && (dashboardNameVal.touched)" class="alert alert-danger">
            <label for="input-dashboard-add-dashboardname" *ngIf="!!dashboardNameVal.errors.required">
              {{'GLOBAL.REQUIRED_FIELD_TEXT' | translate}}
            </label>
            <label for="input-dashboard-add-dashboardname" *ngIf="!!dashboardNameVal.errors.maxlength">
              {{'DASHBOARD.MAX_LENGTH_ERROR' | translate}}
            </label>
            <label for="input-dashboard-add-dashboardname" *ngIf="!!dashboardNameVal.errors.minlength">
              {{'DASHBOARD.MIN_LENGTH_ERROR' | translate}}
            </label>
            <label for="input-dashboard-add-dashboardname" *ngIf="!!dashboardNameVal.errors.pattern">
              {{'DASHBOARD.FORBIDDEN_CHAR_ERROR' | translate}}
            </label>
          </div>
          <div class="alert alert-danger">
            <label for="input-dashboard-add-dashboardname" *ngIf="!!duplicateNameError">
              {{'DASHBOARD.DUPLICATE_NAME' | translate}}
            </label>
          </div>
        </label>
      </div>
    </div>
  </form>
</app-modal-dialog>
