<app-modal-dialog id="modal-function-add"
  [title]="modalTitle | translate"
  [buttons]="modalButtons"
  (buttonEvent)="onButtonEvent($event)"
>
  <div *ngIf="stateLoading || stateLoadingFunc" class="row m-3"><em>{{'GLOBAL.LOADING_DATA' | translate}}</em></div>
  <div *ngIf="!stateLoading && !stateLoadingFunc" class="func-add-box">
    <app-progress-stepper [selectedStepIndex]="activeStepIndex">
      <app-progress-step [headerText]="functionStepHeader | translate">
        <app-form-function-step-one
          [model]="model"
          [functionTypes]="functionTypes"
          [functionList]="allFunctionsList"
          (formChanged)="onChildFormChange($event, 0)"
          [currentFunctionType]="currentFunctionType"
          ></app-form-function-step-one>
      </app-progress-step>
      <app-progress-step [headerText]="devicesStepHeader | translate">
        <app-form-function-step-two
          [model]="model"
          [functionList]="allFunctionsList"
          (formChanged)="onChildFormChange($event, 1)"
          [parentChanged]="onDataChange"
          [selectedFunctionType]="selectedFunctionType">
      </app-form-function-step-two>
      </app-progress-step>
      <app-progress-step [headerText]="detailsStepHeader | translate">
        <app-form-function-step-three
          [model]="model"
          (formChanged)="onChildFormChange($event, 2)"
          [selectedFunctionType]="selectedFunctionType"
          [parentChanged]="onDataChange"
          [temperatureLevels]="temperatureLevels">
        </app-form-function-step-three>
    </app-progress-step>
    </app-progress-stepper>
  </div>
</app-modal-dialog>
