<div class="row">
  <div class="col-md-4">
    <table>
      <tr>
        <td>{{ 'DEVICES.LAST_MAINTENANCE' | translate }}</td>
        <td>{{ (device.lastMaintenanceTimestamp | date:'medium':'':('_META.LOCALE' | translate)) || '-' }}</td>
      </tr>
      <tr>
        <td>{{ 'DEVICES.NEXT_MAINTENANCE' | translate }}</td>
        <td>{{ (nextMaintenanceTimestamp | date:'medium':'':('_META.LOCALE' | translate)) || '-' }}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 row">
    <div class="form-group">
      <label for="interval" class="col-md-4">{{ 'DEVICES.MAINTENANCE_INTERVAL' | translate }}</label>
      <viega-unit-input
        [unitLabel]="['Tage']"
        inputWidth="5em"
        [isSliderEnabled]="false"
        [(ngModel)]="maintenanceInterval"
        (valueChange)="onValueChange($event)"
        min="1"
        max="36500">
      </viega-unit-input>
      <br/>
      <div class="col-12 mt-2">
        <viega-button [isDisabled]="!activateButton" (click)="onSetInterval()">{{ 'GLOBAL.SAVE_BUTTON_TEXT' | translate }}</viega-button>
      </div>
    </div>
  </div>
  <div class="col-md-4 row">
    <div class="col-12 mb-2">
      <viega-button [isDisabled]="!maintenanceEnabled()" (click)="onPerformMaintenance()">
        {{'DEVICES.PERFORM_MAINTENANCE' | translate}}
      </viega-button>
    </div>
    <div class="col-12">
      <!-- TODO: Handle click -->
      <viega-button [isDisabled]="1">{{ 'DEVICES.START_CALIBRATION' | translate }}</viega-button>
    </div>

  </div>
  <div class="col-12">
    <viega-group-heading>{{ 'DEVICES.MAINTENANCE_HISTORY' | translate }}</viega-group-heading>
    <ejs-grid #maintenancegrid [dataSource]="maintenanceHistory" [query]="query" [sortSettings]="gridSortSettings" [allowPaging]="true" [pageSettings]="{ pageSize: 5 }" [locale]="'_META.LOCALE' | translate">
      <e-columns>
        <e-column
          *ngFor="let item of columns"
          [field]="item.field"
          [headerText]="item.headerText | translate"
          [textAlign]="item.textAlign || 'Left'"
          [format]="item.format || null">
          <ng-template #template let-data *ngIf="item.field === 'summary'">
           <!-- translate and replace unresolved parameters with placeholder -->
           {{data[item.field] | translate:getMessageParameters(data.description) | replace:'\{\{[\\w\\.]+\}\}':'-'}}
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
