<div *ngIf="loading" class="spinner-wrapper">
  <viega-loading-spinner></viega-loading-spinner>
</div>
<ejs-treeview
    #tree
    id="treeelement"
    [fields]="treeGridFields"
    [showCheckBox]="showCheckBox"
    [allowMultiSelection]="showCheckBox"
    [allowDragAndDrop]="allowDragAndDrop"
    [fullRowSelect]="true"
    [style.max-height.vh]="maxHeight"
    (nodeSelected)="onNodeSelected($event)"
    (nodeChecked)="onNodeChecked($event)"
    (nodeDragStop)="onDragStop($event)"
    (nodeDragging)="onNodeDrag($event)"
    (drawNode)='drawNode($event)'
    (nodeCollapsed)="onNodeCollapsed($event)"
    (nodeExpanded)="onNodeExpanded($event)"
    expandOn="None"
    [enableHtmlSanitizer]="true"
    [animation]="animation">
  <ng-template #nodeTemplate let-data>
    {{data.text | translate}}
    <button
        *ngIf="showActionButton(data)"
        class="item-action-button"
        (click)="onNodeButtonClicked(data.id)">
      {{buttonLabel || ('GLOBAL.ACTION' | translate)}}
    </button>
  </ng-template>
</ejs-treeview>
