<app-modal-dialog [title]="title" [buttons]="modalButtons" (buttonEvent)="onButtonClicked($event)">

  <form name="form" #formView (input)="onChange()">
    <div class="row m-0 py-2">
      <div class="col-12">
        <div class="form-group row">
          <label class="control-label col-sm-3" for="name">{{ 'PROJECT.NAME'| translate }}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" style="width: 36%" id="name" name="name" #name
              [(ngModel)]="this.formData.name" required />
            <div *ngIf="name.invalid && (name.touched)" class="alert alert-danger">
              <span *ngIf="!!name.errors.required">
                {{ 'GLOBAL.REQUIRED_FIELD_TEXT'| translate }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</app-modal-dialog>
