@import 'src/app/shared/lib/viega-common/theme/for-import/variables';

.w-holder {
  margin-left: 30px;
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 35%;

  .w-item {
    height: 140px;
    width: 33%;
    padding: 10px 8px;
    box-sizing: border-box;
    justify-content: center;

    :hover{
      cursor: pointer;
    }
  }
}

:host ::ng-deep .viega-app-widget {
    // Currently only used for serious issues that are marked red
    .badge {
        background-color: $viega-c15;
        color: $viega-c10;
    }
}

@media(max-width: map-get($viega-grid-breakpoints, 'lg')) {
  .w-holder {
    width: 50%;
    margin-left: 10px;

    .w-item{
      height: 120px;
    }
  }
}

@media(max-width: map-get($viega-grid-breakpoints, 'md')) {
  .w-holder {
    padding: 50px 25p 0x;
    width: 100%;
    margin-left: 0px;

    .w-item {
      width: 50%;
      height: 140px;
    }
  }
}
