<!-- Modal child component, including header and buttons as defined in "buttons" -->
<app-modal-dialog
  id="modal-notification-details"
  [title]="'NOTIFICATIONS.MESSAGE_DETAIL' | translate"
  [buttons]="buttons"
  (buttonEvent)="onButtonEvent($event)"
>
  <div class="row m-3 date">
    <p class="col-12" class="notification-detail-text">
      {{ 'GLOBAL.DATE' | translate}}
    </p>
    <p class="col-11 offset-1 notification-detail-text">
      {{ (notificationDetails.createdTime | date:'short':'':('_META.LOCALE' | translate)) || '-'}}
    </p>
  </div>
  <div class="row m-3 summary">
    <p class="col-12" class="notification-detail-text">
      {{ 'GLOBAL.DESCRIPTION' | translate }}
    </p>
    <p class="col-11 offset-1 notification-detail-text">
      {{notificationDetails.summary | translate:getMessageParameters(notificationDetails.description)}}
    </p>
  </div>
  <div *ngIf="!hideViewedTime" class="row m-3 viewedTimestamp">
    <p class="col-12" class="notification-detail-text">
      {{ 'NOTIFICATIONS.SEEN_ON' | translate }}
    </p>
    <p class="col-11 offset-1 notification-detail-text">
      {{ (notificationDetails.viewedTime | date:'short':'':('_META.LOCALE' | translate)) || '-'}}
    </p>
  </div>
  <div class="row m-3 quittationTimestamp">
    <p class="col-12" class="notification-detail-text">
      {{ 'NOTIFICATIONS.ACKNOWLEDGED_ON' | translate }}
    </p>
    <p class="col-11 offset-1 notification-detail-text">
      {{ (notificationDetails.acknowledgedTime | date:'short':'':('_META.LOCALE' | translate)) || '-'}}
    </p>
  </div>
  <div class="row m-3 resolvedTimestamp">
    <p class="col-12" class="notification-detail-text">
      {{ 'NOTIFICATIONS.FIXED_ON' | translate }}
    </p>
    <p class="col-11 offset-1 notification-detail-text">
      {{ (notificationDetails.fixedTime | date:'short':'':('_META.LOCALE' | translate)) || '-'}}
    </p>
  </div>
  <div class="row m-3 errorCode">
    <p class="col-12" class="notification-detail-text">
      {{ 'NOTIFICATIONS.ERROR_CODE' | translate }}
    </p>
    <p class="col-11 offset-1 notification-detail-text">
      {{notificationDetails.errorCode}}
    </p>
  </div>
  <div class="row m-3 notificationType">
    <p class="col-12" class="notification-detail-text">
      {{ 'NOTIFICATIONS.MESSAGE_TYPE' | translate }}
    </p>
    <p class="col-11 offset-1 notification-detail-text">
      {{notificationDetails.eventType}}
    </p>
  </div>

</app-modal-dialog>
