@import "src/app/shared/lib/viega-common/theme/for-import/shared";
@import "src/app/shared/components/modal-dialog/modal-dialog/modal-dialog.component.scss";

$content-gap: 10px;

@mixin viega-guideline-font {
    font-size: 14px;
    font-family: $viega-font-family;
    color: $viega-c2;
}

@media(min-width:map-get($viega-grid-breakpoints, 'md')) {
    .input-item.name {
        width: 250px;
    }
}

viega-checkbox {
    margin: 10px 0;
}

viega-week-time-planner{
    margin-top: $content-gap;
    display: block;
}

.form-group.row {
    margin-bottom: 20px;
    @include viega-guideline-font();
}

.currentFunctionTypeIndicator { color: $viega-c11; }

.temperature_level {
    font-size: 14px;
    font-weight: normal;
}

.hint-box {
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid $viega-c5;
    margin-top: $content-gap;
    border-radius: 2px;
}


.form-group {
    margin-top: $content-gap;
    .row {
        margin-top: $content-gap;
        @include viega-guideline-font();
    }
}


.inline-timer {
    display: inline-block;

    input.input-item {
        width: 60px;
    }

    label {
        margin: 0 7px;
    }
}

.section {

    &.temp-setting {
        margin-bottom: 30px;
        input.input-item {
            width: 70px;
        }

        .activator{
            margin-top: 10px;
        }
    }

    .full-label {
        line-height: 35px;
    }

    .temp-section {
        margin-top: 0;
        margin-bottom: 25px;
        padding-top: 5;
        background-color: #fdfdfd;

        .full-label {
            margin-top: 10px;
            margin-left: 7px;
        }
    }
}

.temp-level-warning {
    padding: 5px 10px;
    color: $viega-c15;
    font-size: 12px;
    line-height: 16px;
    padding-left: 0;
}

.app-function-add *:not(.alert) label {
    @include viega-guideline-font();
    display: grid;
}


.other-fn-wr {
    margin-top: 20px;
}

// tree view

.tree-wr {
    margin-bottom: 30px;

    label {
        font-size: 14px;
        line-height: 40px;
        color: $viega-font-regular;
    }
}

.side-data {
    .text-danger {
        color: $viega-c15;
    }
    table {
        border-collapse: collapse;
        margin-top: 20px;

        td {
            font-size: 12px;
            line-height: 20px;
            color: $viega-c4;
            border: 1px solid $viega-c7;
            padding: 10px 10px;

            &:nth-child(2) {
                text-align: center;
            }
        }
        th {
            text-align: left;
            color: $viega-c1;
            font-size: 14px;
            line-height: 25px;
            border: 1px solid $viega-c7;
            padding: 10px;
        }
    }
    a {
        float: right;
        margin-right: 50px;
        color: $viega-c15;
    }
}
