<form (change)="onFormChange()" id="form-function-detail">
  <div class="row">
    <!-- SECTION NUTZUNG -->
    <ng-container *ngTemplateOutlet="usage"></ng-container>

    <!-- SECTION TEMPERATURE -->
    <ng-container *ngTemplateOutlet="temperature"></ng-container>

    <!-- SECTION INTERVAL -->
    <ng-container *ngTemplateOutlet="interval"></ng-container>

    <!-- SECTION CALENDER -->
    <ng-container *ngTemplateOutlet="calendar"></ng-container>

    <!-- SECTION THERMAL DISINFECTION -->
    <ng-container *ngTemplateOutlet="thermal"></ng-container>

    <!-- SECTION NO FLUSH -->
    <ng-container *ngTemplateOutlet="noflush"></ng-container>

    <!-- SECTION THERMAL DISINFECTION -->
    <ng-container *ngTemplateOutlet="sequence"></ng-container>

    <!-- SECTION CIRCULATION -->
    <ng-container *ngTemplateOutlet="circulation"></ng-container>

  </div>
</form>

<ng-template #sequence>
  <!-- TODO: Ugly hack for the classes. Perhaps just split this into a left and a right column for good? -->
  <div *ngIf="!model.isCirculationFunction() && !model.flushSchedule.flushParallel && model.flushableDevicePointUuids.length > 0"
    [class.col-lg-5]="viewIncludes('interval')"
    [class.col-lg-6]="!viewIncludes('interval') && !viewIncludes('thermal')"
    [class.col-lg-7]="viewIncludes('thermal')"
    class="{{ viewIncludes('thermal') || viewIncludes('calendar') ? 'ml-md-auto' : 'mr-md-auto'}}"
  >
    <div class="section">
      <app-function-devices-sequence
        [devices]="model.getSelectedFlushableDevices()" (dropped)="onDropThermalFlushDevice($event)">
      </app-function-devices-sequence>
    </div>
  </div>
</ng-template>

<ng-template #usage>
  <div class="col-lg-7" *ngIf="viewIncludes('nutzung')">
    <div class="section">
      <viega-group-heading>{{'FUNCTIONS.SECTION_RINSE_AFTER_NO_USE' | translate}}</viega-group-heading>
      <!-- interval -->
      <div class="form-group row">
        <label for="after-usage-interval" class="col-5 align-items-center">
          {{'FUNCTIONS.LABEL_DETAILS_NONE_USE_INTERVAL' | translate}}
        </label>
        <viega-unit-input class="col-6" name="after-usage-intervaln" id="after-usage-interval" [isSliderEnabled]="false"
          [(ngModel)]="model.flushSchedule.dependOnStagnationFlushPlan && model.flushSchedule.dependOnStagnationFlushPlan.intervalHours"
          [unitLabel]="[hourText | translate]" inputWidth="6em" min="1" max="168"></viega-unit-input>
      </div>

      <!-- spulstop -->
      <!-- <div class="form-group row">
        <label class="col-5 align-items-center" for="dropdown-interval">Spulstop</label>
        <viega-week-time-planner-control
          class="col-6"
          [spulStopData]="spulStopData"
        ></viega-week-time-planner-control>
      </div> -->
    </div>
  </div>

</ng-template>

<ng-template #noflush>
  <div class="col-lg-5 mr-md-auto" *ngIf="viewIncludes('nutzung') || !!model.temperatureSensorPwcDevicePointUuid">
    <viega-group-heading>{{'FUNCTIONS.LABEL_DETAILS_NONE_USE_INTERVAL' | translate}}</viega-group-heading>
    <div class="row align-items-center">
    <!-- spull date -->
      <label for="input-flush-from" class="col-4 modal-input-form-label">
        {{'FUNCTIONS.LABEL_DETAILS_NO_RINSE_INTERVAL' | translate}}
      </label>
      <div class="col-7" class="col-8" id="inline-timer">
        <input type="text" class="col-3" id="input-flush-from" placeholder="00:00"
          [(ngModel)]="model.flushSchedule.noFlushFrame.fromHourMinute"
          #noFlushFrame__fromHourMinute="ngModel"
          name="noFlushFrame__fromHourMinute"
          [pattern]="patterns.time"
          maxlength="5" />
        <label class="col-1">{{'FUNCTIONS.LABEL_DETAILS_RINSE_TO' | translate}}</label>
        <input type="text" class="col-3" id="input-flush-to"
          placeholder="00:00"
          [(ngModel)]="model.flushSchedule.noFlushFrame.toHourMinute"
          #noFlushFrame__toHourMinute="ngModel"
          name="noFlushFrame__toHourMinute"
          [pattern]="patterns.time"
          maxlength="5" />
          <label class="col-1">{{'FUNCTIONS.LABEL_DETAILS_OCLOCK' | translate}}</label>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #temperature>
  <div class="col-lg-5 mr-md-auto" *ngIf="viewIncludes('temperature')">
    <div class="section temp-setting">
      <viega-group-heading>{{'FUNCTIONS.DETAILS_SECTION_TEMPERATURE' | translate}}</viega-group-heading>
      <div class="row">
        <div class="col-12" *ngIf="!model.temperatureSensorPwcDevicePointUuid">
          <div class="hint-box">
            <span>{{'FUNCTIONS.TEMPERATURE_SETTINGS_WARNING' | translate}}</span>
          </div>
        </div>
        <div class="col-12" *ngIf="model.temperatureSensorPwcDevicePointUuid">
          <div class="activator form-group align-items-center">
            <viega-checkbox (valueChange)="onFormFieldChange('temperature_Active',$event)"
              [isChecked]="model.flushSchedule && model.flushSchedule.dependOnTemperatureFlushPlan && model.flushSchedule.dependOnTemperatureFlushPlan.activated"
              [isDisabled]="!model.temperatureSensorPwcDevicePointUuid" [label]="activateTemperatureText | translate">
            </viega-checkbox>
          </div>
        </div>
      </div>
      <!-- max cold temperature -->
      <!-- <div class="form-group row">
        <label for="dropdown-interval" class="col-6 align-items-center"
          >Temperatur kälter als
        </label>
        <viega-unit-input class="col-6"
          id="tempratureColdMax"
          [isSliderEnabled]="false"
          name="flushIfTemperatureHigherThan"
          [(ngModel)]="model.flushSchedule.dependOnTemperatureFlushPlan.flushIfTemperatureHigherThan"
          [isDisabled]="!model.temperatureSensorPwcDevicePointUuid"
          [unitLabel]="['°C']"
          inputWidth="8em"
        ></viega-unit-input>
      </div> -->

      <!-- min warm temperature -->
      <div class="form-group row">

        <label for="dropdown-interval" class="col-6 align-items-center">
          {{'FUNCTIONS.TEMPERATURE_WARMER_THAN' | translate}}
        </label>

        <viega-unit-input class="col-6" name="flushIfTemperatureHigherThan" id="tempratureWarmMain"
          [isSliderEnabled]="false" [isDisabled]="!model.temperatureSensorPwcDevicePointUuid"
          [(ngModel)]="model.flushSchedule.dependOnTemperatureFlushPlan && model.flushSchedule.dependOnTemperatureFlushPlan.flushIfTemperatureHigherThan"
          [unitLabel]="['°C']" inputWidth="6em"></viega-unit-input>
      </div>

      <!-- spull date -->
      <!-- <div class="form-group row">
        <label class="col-5 align-items-center" for="input-flush-from">Nicht spülen von </label>
        <div class="col-7 inline-timer">
          <input
            type="text"
            class="input-item"
            id="input-flush-from"
            placeholder="00:00"
            name="name"
          />
          <label>bis</label>
          <input
            type="text"
            class="input-item"
            id="input-flush-from"
            placeholder="00:00"
            name="name"
          />
          <label>Uhr</label>
        </div>
      </div> -->
      <!-- spulstop -->
      <!-- <div class="form-group row">
          <label class="col-5 align-items-center" for="dropdown-interval">Spulstop</label>
          <viega-week-time-planner-control
            class="col-6"
            [spulStopData]="spulStopData"
          ></viega-week-time-planner-control>
      </div> -->
    </div>

  </div>
</ng-template>

<ng-template #interval>
  <div class="col-lg-6" *ngIf="viewIncludes('interval')">
    <div class="section">
      <viega-group-heading>{{'FUNCTIONS.DETAILS_SECTION_INTERVAL' | translate}}</viega-group-heading>
      <!-- <div class="form-group align-items-center">
        <viega-checkbox>Aktiviert</viega-checkbox>
      </div> -->
      <!-- interval -->
      <div class="form-group row">
        <label class="col-5 align-items-center" for="fixed-interval">{{'FUNCTIONS.LABEL_INTERVAL' | translate}}</label>
        <viega-unit-input class="col-6" name="fixed-interval" id="fixed-interval" [isSliderEnabled]="false"
          [(ngModel)]="model.flushSchedule.fixIntervalFlushPlan.intervalHours" [unitLabel]="[hourText | translate]"
          inputWidth="6em" min="1" max="168"></viega-unit-input>
      </div>


      <!-- startzeitpunkt -->
      <div class="form-group row">
        <label class="col-5 align-items-center" for="dropdown-interval">{{'FUNCTIONS.INTERVAL_START_TIME' | translate}}
        </label>
        <div class="dater col-6">
          <ejs-datetimepicker #startDateUtcVal="ngModel"
            [(ngModel)]="model.flushSchedule.fixIntervalFlushPlan.startDateUtc" (ngModelChange)="onFormChange()"
            id="input-flush-start" required="required" name="startDateUtc"></ejs-datetimepicker>
          <div *ngIf="startDateUtcVal.invalid && (startDateUtcVal.touched)" class="alert alert-danger">
            <label *ngIf="!!startDateUtcVal.errors.required">
              {{'FUNCTIONS.REQUIRED_FIELD' | translate}}
            </label>
            <label *ngIf="(!!startDateUtcVal.errors.pattern)">
              {{'FUNCTIONS.LABEL_INVALID_TIME' | translate}}
            </label>
          </div>
        </div>
      </div>

      <!-- spulstop -->
      <!-- <div class="form-group row">
        <label class="col-5 align-items-center" for="dropdown-interval">Spulstop</label>
        <viega-week-time-planner-control  class="col-6"
          [spulStopData]="spulStopData"
          [isActive]="true"
        ></viega-week-time-planner-control>
      </div> -->
    </div>
  </div>
</ng-template>

<ng-template #circulation>
  <div class="col-lg-7" *ngIf="viewIncludes('circulation')">
    <div class="section" *ngIf="hasDTE()">
      <viega-group-heading>{{'FUNCTIONS.DETAILS_SECTION_CIRCULATION' | translate | uppercase}}</viega-group-heading>
      <!-- <div class="form-group align-items-center">
          <viega-checkbox>Aktiviert</viega-checkbox>
        </div> -->
      <!-- DTE -->
      <div class="form-group row">
        <label class="col-6 align-items-center" for="dropdown-interval">{{'FUNCTIONS.LABEL_DTE' | translate}}</label>
        <div class="col-6">
          {{model.selectedDTEDevice.name | translate}}
        </div>
      </div>

      <!-- Temperature sensor -->
      <div class="form-group row">
        <label class="col-6 align-items-center"
          for="dropdown-interval">{{'FUNCTIONS.LABEL_TEMPERATURE_SENSOR' | translate}}</label>
        <div class="col-6">
          {{model.selectedTemperatureDevice.name | translate}}
        </div>
      </div>

      <!-- UFC available -->
      <div class="form-group row">
        <div class="col-6 d-flex align-items-center" *ngIf="model.isUfcAvailable || !!model.ufcFaultContactUuid">
          <viega-checkbox [(ngModel)]="model.useUFC" [isDisabled]="!model.canSetUfc" name="ufcActivated"
            (valueChange)="onFormChange()" [label]="ufcAvailableText | translate"></viega-checkbox>
        </div>
        <viega-loading-spinner *ngIf="!!model.ufcFaultContactUuid && !model.isUfcAvailable" class="col-1 spinner">
        </viega-loading-spinner>
        <div *ngIf="!isTemperatureLevelEqual('1') && (shouldShowTemperatureWarning())" class="temp-level-warning">
          {{'FUNCTIONS.TEMPERATURE_LEVEL_CHANGE_WARNING' | translate}}
        </div>
      </div>
    </div>
    <div *ngIf="!isTemperatureLevelEqual('1') && (shouldShowTemperatureWarning())" class="temp-level-warning">
      {{'FUNCTIONS.TEMPERATURE_LEVEL_CHANGE_WARNING' | translate}}
    </div>

    <div *ngIf="!canSetTemperatureLevel()" class="temp-level-warning">
      {{'FUNCTIONS.TEMPERATURE_LEVEL_1_NOT_SET' | translate}}
    </div>

    <!-- PWC,PWH temperatures -->
    <div class="form-group row">
      <div class="col-6 temp-section">
        <div class="row col-12">
          <viega-radio name="circulationTemp1" value="{{ getTemperatureLevelString('1') }}"
            [isDisabled]="!canSetTemperatureLevel(1)"
            [(ngModel)]="model.circulationInput.temperatureLevelObject.temperatureLevel"
            (ngModelChange)="onFormChange()">
            {{ 'FUNCTIONS.TEMPERATURE_LEVEL_1' | translate }}
          </viega-radio>
        </div>
        <div class="row">
          <div class="col-6">
            <div>{{'FUNCTIONS.PHW' | translate}}</div>
            <p class="temperature_level">60 <span>°C</span></p>
          </div>
          <div class="col-6">
            <div>{{'FUNCTIONS.PHW_C' | translate}}</div>
            <p class="temperature_level">55 <span>°C</span></p>
          </div>
        </div>
      </div>

      <div class="col-6 temp-section">
        <div class="row col-12">
          <viega-radio name="circulationTemp2" value="{{ getTemperatureLevelString('2') }}"
            [isDisabled]="!canSetTemperatureLevel(2)"
            [(ngModel)]="model.circulationInput.temperatureLevelObject.temperatureLevel"
            (ngModelChange)="onFormChange()">
            {{ 'FUNCTIONS.TEMPERATURE_LEVEL_2' | translate }}
          </viega-radio>
        </div>
        <div class="row">
          <div class="col-6">
            <div>{{'FUNCTIONS.PHW' | translate}}</div>
            <p class="temperature_level">55 <span>°C</span></p>
          </div>
          <div class="col-6">
            <div>{{'FUNCTIONS.PHW_C' | translate}}</div>
            <p class="temperature_level">50 <span>°C</span></p>
          </div>
        </div>
      </div>

      <div class="col-6 temp-section">
        <div class="row col-12">
          <viega-radio name="circulationTemp3" value="{{ getTemperatureLevelString('3') }}"
            [isDisabled]="!canSetTemperatureLevel(3)"
            [(ngModel)]="model.circulationInput.temperatureLevelObject.temperatureLevel"
            (ngModelChange)="onFormChange()">
            {{ 'FUNCTIONS.TEMPERATURE_LEVEL_3' | translate}}
          </viega-radio>
        </div>
        <div class="row">
          <div class="col-6">
            <div>{{'FUNCTIONS.PHW' | translate}}</div>
            <p class="temperature_level">48 <span>°C</span></p>
          </div>
          <div class="col-6">
            <div>{{'FUNCTIONS.PHW_C' | translate}}</div>
            <p class="temperature_level">45 <span>°C</span></p>
          </div>
        </div>
      </div>

      <div class="col-6 temp-section">
        <div class="row col-12">
          <viega-radio name="circulationTemp4" value="{{ getTemperatureLevelString('4') }}"
            [isDisabled]="!canSetTemperatureLevel(4)"
            [(ngModel)]="model.circulationInput.temperatureLevelObject.temperatureLevel"
            (ngModelChange)="onFormChange()">
            {{ 'FUNCTIONS.TEMPERATURE_LEVEL_4' | translate }}
          </viega-radio>
        </div>
        <div class="row">
          <div class="col-6">
            <div>{{'FUNCTIONS.PHW' | translate}}</div>
            <viega-unit-input id="phw-4" [isSliderEnabled]="false" [isDisabled]="!isTemperatureLevelEqual('4')"
              [(ngModel)]="model.circulationInput.temperatureLevelObject.pwhTemperatureCelsius"
              (ngModelChange)="onFormChange()" [ngModelOptions]="{standalone: true}" [unitLabel]="['°C']"
              inputWidth="40px"></viega-unit-input>
          </div>
          <div class="col-6">
            <div>{{'FUNCTIONS.PHW_C' | translate}}</div>
            <viega-unit-input id="phc-4" [isSliderEnabled]="false" [isDisabled]="!isTemperatureLevelEqual('4')"
              [unitLabel]="['°C']" inputWidth="40px" min="0" max="100"
              [(ngModel)]="model.circulationInput.temperatureLevelObject.pwhcTemperatureCelsius"
              (ngModelChange)="onFormChange()" [ngModelOptions]="{standalone: true}"></viega-unit-input>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #thermal>
  <div class="col-lg-7" *ngIf="viewIncludes('thermal')">
    <div class="section">
      <viega-group-heading>{{'FUNCTIONS.SECTION_DETAILS_THERMAL_DISINFECTION' | translate}}</viega-group-heading>
      <!-- <div class="form-group align-items-center">
        <viega-checkbox>Aktiviert</viega-checkbox>
      </div> -->
      <!-- DTE -->
      <div class="form-group row">
        <div class="col-6 align-items-center">
          <label for="dropdown-interval">{{'FUNCTIONS.LABEL_DTE' | translate}}</label>
        </div>
        <div class="col-6">
          {{model.selectedDTEDevice.name | translate}}
        </div>
      </div>

      <!-- Temperature sensor -->
      <div class="form-group row">
        <div class="col-6 align-items-center">
          <label for="dropdown-interval">{{'FUNCTIONS.LABEL_TEMPERATURE_SENSOR' | translate}}</label>
        </div>
        <div class="col-6">
          {{model.selectedTemperatureDevice.name | translate}}
        </div>
      </div>


      <!-- circulation devices, select active Openable circulation valve -->
      <div class="form-group row">
        <div class="col-6 align-items-center">
          <label for="dropdown-interval">{{'FUNCTIONS.LABEL_OPEN_CIRCULATION_VALVE' | translate}}
          </label>
        </div>
        <div class="col-6">
          <viega-dropdown [dataSource]="circulationDeviceList" id="dropdown-circulationValves"
            [fields]="keySwitchFields" [value]="activeCirculationDeviceUuid" [locale]="'_META.LOCALE' | translate">
          </viega-dropdown>
        </div>
      </div>

      <!-- cold temperature -->
      <!-- <div class="form-group row">
        <div class="col-7 align-items-center">
          <label for="dropdown-interval"
            >Temperatur kalter als
          </label>
        </div>
        <div class="col-5">
          <viega-unit-input
            id="tempratureWarmMain"
            [isSliderEnabled]="false"
            [isDisabled]="false"
            (ngModelChange)="handleSpulInputChange($event)"
            [unitLabel]="['°C']"
          ></viega-unit-input>
        </div>
      </div> -->
    </div>
  </div>

</ng-template>

<ng-template #calendar>
  <div class="col-lg-6" *ngIf="viewIncludes('calendar')">
    <div class="section">
      <viega-group-heading>{{'FUNCTIONS.DETAILS_SECTION_CALENDAR' | translate}}</viega-group-heading>
      <viega-week-time-planner #weekTimePlanner [calendarData]="spulCalendarModel" (change)="onCalendarChange($event)"
        [showSecondColumn]="false" [i18n]="{ ACTIVATE: 'WEEKTIME_PLANNER.ACTIVATE' | translate,
                RINSE_TIME_1: 'WEEKTIME_PLANNER.RINSE_TIME_1' | translate,
                RINSE_TIME_2: 'WEEKTIME_PLANNER.RINSE_TIME_2' | translate,
                WEEK_DAYS: [
                { key: weekDay.mon, text: 'WEEKDAY.MONDAY_SHORT' | translate },
                { key: weekDay.tue, text: 'WEEKDAY.TUESDAY_SHORT' | translate },
                { key: weekDay.wed, text: 'WEEKDAY.WEDNESDAY_SHORT' | translate },
                { key: weekDay.thu, text: 'WEEKDAY.THURSDAY_SHORT' | translate },
                { key: weekDay.fri, text: 'WEEKDAY.FRIDAY_SHORT' | translate },
                { key: weekDay.sat, text: 'WEEKDAY.SATURDAY_SHORT' | translate },
                { key: weekDay.sun, text: 'WEEKDAY.SUNDAY_SHORT' | translate }
                ]
              }"></viega-week-time-planner>
    </div>
  </div>

</ng-template>
