@import "../../shared/lib/viega-common/theme/for-import/shared";
@import 'node_modules/bootstrap/scss/bootstrap-grid';

$left-pad: 30px;
$left-pad-modbile: 10px;

@mixin viega-font {
    color: $viega-c1;
    font-family: "HelveticaNeue55Roman";
    font-size: 14px;
}

html,
body {
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
    background-color: $viega-c9;
}

.info-title {
    margin-top: 30px;
    font-size: 20px;
}

.input-dll {
    visibility: hidden;
}

input {
    width: 100%;
}

.submit-box {
    padding-right: $left-pad;

    viega-button {
        width: 100%;
    }
}

.progress-label {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
