<app-modal-dialog [title]="'DEVICES.DEVICE_FIRMWARE_UPDATE' | translate" [buttons]="buttons" (buttonEvent)="onButtonEvent($event)">
  <div class="col">
    <div class="row m-3">
      {{ !!data.params ? (data.message | translate:data.params) : (data.message | translate) }}
    </div>
      <div class="row m-3 dform">
          <!-- see BackendConstAllowedDeviceFirmwareUpdateFileName for update file extension -->
          <input type="file" multiple="false" [accept]="getAcceptedFirmwareFileExtensions().join(',')" class="input-dll" #fileInput (change)="onFileSelect($event)" />
          <div class="row no-gutters justify-content-center">
            <div class="col-7">
              <input type="text" readonly="true" [(ngModel)]="fileOutput" name="fileOutput" />
            </div>
            <div class="col-5">
              <viega-button [enableIcon]="false" [isDisabled]="isWaitingForUpdateEnd || (uploadProgress !== undefined)" (click)="onBrowseClick($event)">
                {{ 'ACTIVATION.SEARCH' | translate }}
              </viega-button>
            </div>
            <viega-loading-spinner class="mt-3" *ngIf="isWaitingForUpdateEnd || (uploadProgress !== undefined)">
            </viega-loading-spinner>
            <div *ngIf="uploadProgress !== undefined" class="progress-label mt-3 ml-2">
              {{ uploadProgress }}% - {{ 'ACTIVATION.UPLOAD_MESSAGE' | translate }}
            </div>
            <div *ngIf="isWaitingForUpdateEnd" class="progress-label mt-3 ml-2">
              {{ 'ACTIVATION.CONTROLLER_UPDATING' | translate }}
            </div>
          </div>
        </div>
  </div>

</app-modal-dialog>
