<form (ngModelChange)="onFormChange()">
  <div class="row" id="form-function-step-one">
    <div class="col-lg-8">
      <div class="form-group row">
        <div class="col">
          <label id="label-input-func-name" for="input-func-name">
            {{'FUNCTIONS.LABEL_NAME' | translate}}
          </label>
          <input
            type="text"
            class="input-item name"
            id="input-func-name"
            [(ngModel)]="model.name"
            name="name"
            #name
            #nameVal="ngModel"
            (input)="onFormChange()"
          />
          <div *ngIf="nameVal.invalid && nameVal.touched" class="alert alert-danger">
            <label *ngIf="!!nameVal.errors.required" for="input-func-name">
              {{'FUNCTIONS.REQUIRED_FIELD' | translate}}
            </label>
            <label *ngIf="(!!nameVal.errors.minlength)" for="input-func-name">
              {{'FUNCTIONS.ERROR_MESSAGES.NAME_MIN_LENGTH_WARNING' | translate}}
            </label>
            <label *ngIf="(!!nameVal.errors.duplicate)" for="input-func-name">
              {{'FUNCTIONS.ERROR_MESSAGES.NAME_NOT_UNIQUE' | translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label id="radio-func-type">
            {{'FUNCTIONS.LABEL_FUNCTION' | translate}}
          </label>
          <div class="modal-radio-container" *ngFor="let type of functionTypes" id="funct-type-radio" >
            <input
              type="radio"
              name="type"
              value="{{ type.id }}"
              id="radio-func-type-select-{{ type.id }}"
              [(ngModel)]="model.type"
              (ngModelChange)="onFormFieldChange('name', $event)"
              required
              #funcTypeVal="ngModel"
              [attr.disabled]="type.disabled ? 'disabled': null"
            />
            <label
              for="radio-func-type-select-{{ type.id }}"
              id="radio-func-label-{{ type.id }}"
              [ngClass]="{'currentFunctionTypeIndicator': currentFunctionType && currentFunctionType !== model.type && currentFunctionType == type.id}"
              >{{ type.name | translate }}
              <viega-info-button [message]="type.message | translate"></viega-info-button>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
